@import "../variables";
@import "../index.scss";
@import "../Components/card.scss";

.section2 {
  display: block;
  text-align: center;
  width: 375px;
  // background-color: #f7f7f7;
  background-color: green;

  .card_section2 {
    @extend .card;
    background-color: #e8e9ed;
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    width: 314px;
    height: 370px;

    .container_img {
      margin: 0 auto;
      width: 314px;
      height: 370px;

      .circle {
        width: 100%;
        position: relative;
      }

      .img_pc {
        width: 192.76px;
        height: 109.93px;
        top: 37.11px;
        left: 55.27px;
      }
      // .img_mobile {
      // }
      // .img_megaphone {
      // }
    }

    p {
      margin: 20px auto;
      font-family: $font-primary;
    }

    .title_section2 {
      font-family: Raleway;
      font-size: 30px;
      font-weight: 400;
      line-height: 35.22px;
      text-align: left;
    }

    .text_section2 {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
    }
  }
}
