@import '../variables';

header {
  display: block;
  width: 310px;
  height: 213px;

  margin: 50px auto;
  text-align: center;

  p {
    width: 308px;
    height: 57px;
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
  }

  h1 {
    width: 162px;
    height: 41px;
    font-size: 35px;
    font-weight: 400;
    line-height: 41.09px;
    margin: 55px auto 30px auto;
  }

  button {
    width: 310px;
    height: 67px;
    box-shadow: 5px 10px 14px 0px #07ace64a;
    font-size: 16px;
    font-weight: 700;
    margin: 45px auto;
    background-color: $color-primary;
  }

  .header-img-container {
    margin: 0 auto;
    overflow: hidden;
    width: 375px;
    right: 33px;
    position: relative;
    margin-top: 25px;
    margin-bottom: 10px;

    .header-img {
      margin: 0 0 35px 0;
      width: 375px;
      height: 267px;
      object-fit: cover;
    }
  }
}
