@import "../index.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}
body h1,
body h2,
body h3 {
  font-family: "Raleway", sans-serif;
}
body button {
  border-radius: 25%;
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  border-radius: 40px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}
body .logo_Oxygen {
  width: 206px;
  height: 37px;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 37px;
  text-align: left;
  color: #08a6e4;
  display: inline-block;
  margin-top: 17px;
  margin-left: 25px;
}
body main {
  margin-top: 375px;
  display: block;
}

.card, .section1 .card_section1 {
  width: auto;
  height: auto;
  margin: 20px auto;
}
.card .pink, .section1 .card_section1 .pink,
.card .blue,
.section1 .card_section1 .blue,
.card .green,
.section1 .card_section1 .green {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  height: auto;
  width: auto;
  width: 63px;
  height: 63px;
}
.card .pink, .section1 .card_section1 .pink {
  background-color: #eb476e;
}
.card .blue, .section1 .card_section1 .blue {
  background: #08a6e4;
}
.card .green, .section1 .card_section1 .green {
  background: #55dfb4;
}
.card .container_vectors, .section1 .card_section1 .container_vectors {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card .head, .section1 .card_section1 .head,
.card .body,
.section1 .card_section1 .body,
.card .eye1,
.section1 .card_section1 .eye1,
.card .eye2,
.section1 .card_section1 .eye2,
.card .eye3,
.section1 .card_section1 .eye3,
.card .box1,
.section1 .card_section1 .box1,
.card .box2,
.section1 .card_section1 .box2,
.card .box3,
.section1 .card_section1 .box3,
.card .box4,
.section1 .card_section1 .box4 {
  position: absolute;
}

.section1 {
  display: block;
  text-align: center;
  background-color: red;
}
.section1 h3 {
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 35px;
}
.section1 .card_section1 {
  display: inline-block;
  text-align: center;
  height: 168px;
  width: 176px;
  margin: 0 20px;
}
.section1 .card_section1 .container_icons {
  margin: 0 auto;
  width: 63px;
  height: 63px;
  position: relative;
}
.section1 .card_section1 .container_icons .container_vectors {
  height: 51px;
  width: 44.02px;
  top: 28px;
}
.section1 .card_section1 .container_icons .container_vectors .head {
  left: 11px;
  padding-left: 20px;
}
.section1 .card_section1 .container_icons .container_vectors .body {
  padding-left: 21px;
  top: 27px;
  left: 0px;
}
.section1 .card_section1 .container_icons .container_vectors .eye1 {
  height: 33px;
  top: 12px;
  left: 16px;
}
.section1 .card_section1 .container_icons .container_vectors .eye2 {
  top: 15.5px;
  left: 33px;
  width: 25px;
  height: 25px;
}
.section1 .card_section1 .container_icons .container_vectors .eye3 {
  width: 12px;
  height: 12px;
  top: 22.64px;
  left: 40px;
}
.section1 .card_section1 .container_icons .container_vectors .box1 {
  left: 32px;
  width: 37px;
  height: 3px;
  top: 2px;
}
.section1 .card_section1 .container_icons .container_vectors .box2 {
  top: 6px;
  left: 29px;
  width: 43.15px;
  height: 3px;
}
.section1 .card_section1 .container_icons .container_vectors .box3 {
  top: 10px;
  left: 26px;
  width: 48.17px;
  height: 3px;
}
.section1 .card_section1 .container_icons .container_vectors .box4 {
  top: 14px;
  left: 25px;
  width: 52px;
  height: 36px;
}
.section1 .card_section1 p {
  margin: 20px auto;
  font-family: "Raleway", sans-serif;
}
.section1 .card_section1 .title {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 5.9600000381px;
  width: 117px;
  height: 24px;
  margin: 10px auto;
}
.section1 .card_section1 .text {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  left: 11.15px;
  width: 75%;
  padding: 0px;
}/*# sourceMappingURL=section1.css.map */