@import "../variables";
@import "../mixin";
@import "../section4";

//! SCROLLER BAR

.scrollerBar {
  width: 100%;
  height: 1em;
  position: relative;
  z-index: 5;

  &__bar {
    position: fixed;
    top: 4.2em;
    width: 0%;
    height: 0.5em;
    background-color: $color-primary;
  }
}

//! BUTTON TO UP

.container_icon {
  position: fixed;
  bottom: 4.5em;
  right: 1.5em;
  margin: 0;
  padding: 0.5em;
  border-radius: 50%;
  box-shadow: 0em 0.3em 0.4em 0.4em $color-secondary;
  cursor: pointer;
  z-index: 50;
  border: transparent;
  background-color: $color-primary;

  &__arrowUp {
    width: 2em;
  }
}

//! POP UP

.back {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  display: none;

  &.Up {
    display: block !important;
  }

  &__modal {
    background-color: #fff;
    border: none;
    border-radius: 1em;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 10;
    padding: 2em 2em;

    &.Up {
      display: block !important;
    }

    &__closeModalX {
      display: block;
      transform: translate(3250%, -150%);
      border: none;
      background-color: #fff;
    }

    h3 {
      margin: 0 auto;
      font-family: $font-secondary;
      width: 15em;
    }

    input {
      width: 20em;
      border: none;
      border-color: transparent;
      border-bottom: 0.125em solid #95989a;
      outline: none;
      margin: 2em auto;

    }
    
    .invalid {
      border-bottom: 0.0625em solid red;
    }

    input:focus.invalid {
      outline: none;
    }
    
    .error {
      display: none;
      width: 14em;
      margin: 0 auto;
      font-size: 0.9em;
      color: white;
      background-color: tomato;
      margin-bottom: 0.5em;
      border-radius: 0.3125em 0.3125em;
      box-sizing: border-box;
    }

    .active {
      display: block;
    }

    .send {
      @include buttonG;
      background-color: $color-primary;
      padding: 1em 3em;
      margin: 1em auto;
    }
  }
}

//! SLIDER
.slider {
  margin: 1em auto;
  padding: 0;
  display: block;
  position: relative;
  width: 20em;

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 2em;
    height: 2em;
    cursor: pointer;
    z-index: 2;
    background-color: $color-secondary;
    border-radius: 1em;
    padding: 0.5em;

    img {
      width: 100%;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  &__screen {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;

    img {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }

  &__indicatorsContainer {
    display: block;
    width: 100%;
    text-align: center;

    &__indicator {
      background-color: $color-secondary;
      display: inline-block;
      border-radius: 50%;
      padding: 0.5em;
      margin: 0.5em;
      cursor: pointer;

      &.active {
        background-color: $color-primary;
      }
    }
  }
}

@media (min-width: 1000px) {
  //! BUTTON TO UP
  .container_icon {
    bottom: 2.4em;
    right: 4em;
  }

  //! MODAL
  .back {
    &__modal {
      form {
        display: flex;
        flex-direction: column;
      }
    }
  }

  //! SLIDER
  .slider {
    @include limit;
    display: block;
    width: 24em;
    margin-top: 2em;
  }
}
