//nav & footer

@mixin limit {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  width: 101.625em;
  min-width: 62.5em;
  box-sizing: border-box;
}

@mixin logo {
  font-family: $font-primary;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.3125em;
  color: $color-primary;
  text-align: left;
}

@mixin buttonG {
  font-family: $font-secondary;
  border-color: transparent;
  border-radius: 2.5rem;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}


//!section2_card

@mixin __card {
  margin: 1.1875em auto 1.125em;
  width: 19.7em;
  border-radius: 0.3125em;
  display: inline-block;
  border: .0625em solid #e8e9ed;
  background-color: #fff;
}

@mixin containerImg {
  margin: 0em auto 0.75em;
  position: relative;
}

@mixin containerText {
  display: block;
  padding: 9.3em 1em 1.6em 1em;
}

@mixin title {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0.5em 0 1.6em;
  text-align: left;
  font-family: $font-primary;
}

@mixin text {
  font-family: $font-secondary;
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.3125em;
  text-align: left;
}
