//body

@mixin limit {
  max-width: 1626px;
  width: 1626px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

//section2

@mixin __card {
  margin: 19px auto 18px;
  width: 315px;
  border-radius: 5px;
  display: inline-block;
  background-color: #fff;
}

@mixin containerImg {
  margin: 0 auto;
  position: relative;
}

@mixin containerText {
  padding-top: 170px;
  display: block;

  p {
    width: 90%;
  }
}

@mixin title {
  font-size: 30px;
  font-weight: 400;
  line-height: 35.22px;
  text-align: left;
  font-family: $font-primary;
  width: 90%;
}

@mixin text {
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
}
