@import "./mixin";

nav {
  box-shadow: 0px 3px 6px 0px $color-shadow;
  display: inline-block;
  width: 375px;
  position: relative;

  .logoNav{
    @include logo;
  }

  .menu {
    position: absolute;
    top: 30px;
    left: 330px;
    width: 20px;

    &__rectangle {
      position: absolute;
      width: 20px;
      display: block;
      margin-bottom: 3px;
    }
  }

  ul {
    display: none;
  }
}

@media (min-width: 1000px) {
  nav {
    width: 100%;
    display: flex;
    margin: 0 auto;

    .limit {
      @include limit;
      flex-direction: row;
      justify-content: space-between;

      .logo {
        margin-left: 127px;
      }

      .menu {
        display: none;
      }

      ul {
        display: flex;
        list-style: none;
        min-width: 350px;
        width: 600px;
        margin-right: 65px;
        justify-content: space-between;

        li {
          color: $color-secondary;
          width: 80px;
          flex-direction: row;
          font-family: $font-secondary;
          font-size: 11px;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: 3.2799999713897705px;
          text-align: center;
          padding: 27px 0px;
          border-bottom: 3px solid transparent;
        }

        li:hover {
          color: black;
          border-bottom: 3px solid $color-primary;
        }
      }
    }
  }
}
