@import "./mixin";

nav {
  box-shadow: 0em .1875em .375em 0em $color-shadow;
  display: inline-block;
  width: 100%;
  position: relative;

  .logoNav{
    @include logo;
  }

  .menu {
    position: absolute;
    top: 1.875em;
    left: 20.625em;

    &__rectangle {
      position: absolute;
      width: 1.25rem;
      display: block;
      margin-bottom: .1875em;
    }
  }

  ul {
    display: none;
  }
}

@media (min-width: 62.5rem) {
  nav {
    width: 100%;
    display: flex;
    margin: 0 auto;

    .limit {
      @include limit;
      flex-direction: row;
      justify-content: space-between;

      .logoNav {
        margin-left:5.3125em;
      }

      .menu {
        display: none;
      }

      ul {
        display: flex;
        list-style: none;
        min-width: 21.875em;
        width: 37.5em;
        margin-right: 4.0625em;
        justify-content: space-between;

        li {
          color: $color-secondary;
          width: 5em;
          flex-direction: row;
          font-family: $font-secondary;
          font-size: .6875rem;
          font-weight: 700;
          line-height: .9375em;
          letter-spacing: .205em;
          text-align: center;
          padding: 1.6875em 0em;
          border-bottom: .1875em solid transparent;
        }

        li:hover {
          color: black;
          border-bottom: .1875em solid $color-primary;
        }
      }
    }
  }
}
