nav {
  box-shadow: 0px 3px 6px 0px $color-shadow;
  display: inline-block;
  width: 375px;
  position: relative;

  .limit__logo {
    font-family: $font-primary;
    font-size: 32px;
    font-weight: 300;
    line-height: 37px;
    color: $color-primary;
    margin: 0px 0px 0px;
    padding: 18px 0px 18px 25px;
    text-align: left;
  }

  .menu {
    position: absolute;
    top: 30px;
    left: 330px;
    width: 20px;

    &__rectangle {
      position: absolute;
      width: 20px;
      display: block;
      margin-bottom: 3px;
    }
  }

  ul {
    display: none;
  }
}

@media (min-width: 1000px) {
  nav {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    align-content: center;
    align-items: center;

    @mixin limit {
      max-width: 1626px;
      width: 1626px;
      background-color: red;
      display: flex;
      justify-items: center;
      align-items: center;
      margin: 0 auto;

      &__logo {
        padding-left: 150px;
      }

      .menu {
        display: none;
      }

      ul {
        display: flex;
        list-style: none;
        margin-right: 100px;

        li {
          width: 70px;
          flex-direction: row;
          left: 1101px;
          font-family: $font-secondary;
          font-size: 11px;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: 3.2799999713897705px;
          text-align: center;
          margin-left: 110px;
          padding: 20px 0px;
          border-bottom: 3px solid transparent;
        }

        li:hover{
        border-bottom: 3px solid $color-primary;
        
        }
      }
    }
  }
}
