@import "./variables";
@import "./mixin";

.section3 {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0;

  h3 {
    margin: 1.4em 0 0.2em;
    display: block;
    font-size: 2.25rem;
    font-weight: 400;
  }

  button {
    @include button;
    padding: 1em 5em;
    border-radius: 1.4375em;
    position: absolute;
    top: 18em;
    right: 4.5em;
    font-family: $font-secondary;
    font-size: 0.8125rem;
    font-weight: 700;
  }

  &__card3 {
    // background-color: red;
    border-radius: 1.125em;
    margin: 1em 1.8em 3.4375em;
    padding: 1.5em 0em 1.8em;
    position: relative;

    &:nth-of-type(1) /*basic card*/ {
      border: 0.0625em solid $color-quaternary;
      button {
        background-color: $color-quaternary;
      }

      .section3__card3__containerPrice__price {
        color: $color-quaternary;
      }

      &:nth-of-type(1):hover {
        box-shadow: 0.125em 0.5625em 3.125em -1.5625em $color-quaternary;
        transform: scale(110%);

        button {
          box-shadow: 0.125em 0.5625em 1.5625em -0.625em $color-quaternary;
        }
      }
    }

    &:nth-of-type(2) /*professional card*/ {
      border: 0.0625em solid $color-primary;

      button {
        background-color: $color-primary;
      }

      .section3__card3__containerPrice__price {
        color: $color-primary;
      }

      &:nth-of-type(2):hover {
        box-shadow: 0.125em 0.5625em 3.125em -1.5625em $color-primary;
        transform: scale(110%);

        button {
          box-shadow: 0.125em 0.5625em 1.5625em -0.625em $color-primary;
        }
      }
    }

    &:nth-of-type(3) /*premium card*/ {
      border: 0.0625em solid $color-tertiary;

      button {
        background-color: $color-tertiary;
      }

      .section3__card3__containerPrice__price {
        color: $color-tertiary;
      }

      &:nth-of-type(3):hover {
        box-shadow: 0.125em 0.5625em 3.125em -1.5625em $color-tertiary;
        transform: scale(110%);

        button {
          box-shadow: 0.125em 0.5625em 1.5625em -0.625em $color-tertiary;
        }
      }
    }

    &__containerPrice {
      // background-color: blue;
      text-align: center;
      display: inline-block;
      width: 45%;
      transform: translate(0, -30%);

      &__basic {
        font-family: $font-primary;
        font-size: 1.3rem;
        font-weight: 700;
        margin: 0 auto;
      }

      &__price {
        font-family: $font-secondary;
        font-size: 2.875rem;
        font-weight: 300;
        margin: 0 auto;
      }

      &__subtitle {
        text-align: center;
        margin: 0 auto;
        font-family: $font-primary;
        font-size: 0.75rem;
        font-weight: 700;
        color: #13253b;
      }
    }

    &__containerFeature {
      // background-color: greenyellow;
      display: inline-block;
      width: 53%;
      list-style: none;
      text-align: left;

      li {
        // background-color: aqua;
        margin: 0em 0 0.5em 0em;
        font-size: 0.875rem;
        text-align: left;
        font-weight: 400;
        font-family: $font-secondary;
        padding: 0em 0.1em 1em 0em;

        img {
          margin-right:0.5em;
        }
      }
    }
  }

  // &__card3:hover {
  //   .section3__card3__containerPrice {
  //     width: 50%;


  //   }
  //   .section3__card3__containerFeature {
  //     left: 5.0625em;
  //   }
  //   transform: scale(1em);
  // }
}

@media (min-width: 62.5rem) {
  .section3 {
    display: flex;
    flex-direction: column;

    h3 {
      padding: 3.75em 0 0em;
      font-size: 36px;
      font-weight: 400;
      line-height: 2.625em;
      text-align: center;
    }

    .limit3 {
      @include limit;
      display: flex;
      flex-direction: row;
    }

    .section3__card3 {
      display: flex;
      flex-direction: column;
      height: 28.8125em;
      width: 25em;

      button {
        display: none;
      }

      &__containerPrice {
        top: 0em;
        display: flex;
        flex-direction: column;
        padding: 1.5625em 4.6875em;

        &__basic {
          font-family: $font-primary;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.5em;
        }

        &__price {
          width: 59;
          padding-top: 0em;
          font-family: $font-secondary;
          font-size: 46px;
          font-weight: 300;
          line-height: 3.75em;
          margin: 0 auto;
        }

        &__subtitle {
          width: 4.625em;
          margin: 0 auto;
          font-family: $font-primary;
          font-size: 12px;
          font-weight: 700;
          line-height: 0.6306em;
          color: #13253b;
        }
      }

      &__containerInputsFeature {
        background-color: aqua;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        width: 250%;
        position: relative;
        left: 0em;
        top: 0;
        padding-top: 1.125em;
        right: 0em;

        &__pack {
          background-color: red;
          display: flex;
          flex-direction: row;

          &__input {
            width: 10%;
            display: flex;
            clear: absolute;

            &__checkbox {
              width: 0.6875em;
              margin: 0em auto 1.4375em;
            }
          }

          &__text {
            display: block;
            position: absolute;
            width: 70%;
            right: 0em;
            padding-top: 0.5em;

            &__title {
              width: 7.1875em;
              left: 1.3125em;
              margin: 0 0.3125em 1.1875em;
              font-family: $font-secondary;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.1919em;
              text-align: initial;
            }
          }
        }
      }
    }
  }
}
