@import "./variables";

.section4 {
  display: inline-block;
  padding: 20px 30px;
  width: 375px;

  p,
  a,
  label {
    font-family: $font-secondary;
  }

  &__header {
    margin: 0 auto;
    h1 {
      margin: 0;
      width: 280px;
      height: 47px;
      font-size: 40px;
      font-weight: 400;
      line-height: 46.96px;
    }

    &__subtitle {
      margin: 1px;
    }

    &__contact {
      //   background-color: red;
      display: inline-block;
      width: 100%;
      margin: 40px auto;
      &__pack {
        margin: 4px;
        display: inline-block;
        position: relative;
        height: 27px;
        width: 100%;

        &__icon {
          width: 20px;
          height: 17px;
        }

        &__text {
          color: $color-secondary;
          position: absolute;
          top: 0;
          width: 80%;
          left: 34.59px;
          height: 27px;
        }
      }
    }
  }

  &__form {
    &__text {
      font-size: 11px;
      font-weight: 600;
      line-height: 14.98px;
      letter-spacing: 3.28px;
    }
  }
}
