@import "./mixin";

.section2 {
  display: block;
  text-align: center;
  background-color: #f7f7f7;
  padding: 1.5625rem 0 14.375rem;

  &__card1 {
    @include __card;
    border: 1px solid #e8e9ed;

    &__containerImg1 {
      @include containerImg;
      background-color: #fff;

      &__rectangleMobile {
        position: absolute;
        width: 90.12px;
        top: .9375rem;
      }

      &__rectanglePc {
        display: none;
      }

      &__pc {
        position: absolute;
        width: 192.76px;
        top: 2.3194rem;
        left: 3.4544rem;
      }

      &__circleBlue {
        position: absolute;
        width: 131.88px;
        top: 1.0625rem;
        left: 5.625rem;
      }

      &__circleBluePc {
        display: none;
      }

      &__mobile {
        position: absolute;
        width: 160px;
        top: 1.5631rem;
        left: 5.625rem;
      }
    }

    &__containerText1 {
      @include containerText;
      padding-top: 10.625rem;
      background-color: #fff;

      &__title {
        @include title;
        margin: 0rem 1.25rem 3.125rem;
      }

      &__text {
        margin: 0rem 1.25rem 2.1875rem;
        @include text;
      }

      &__title2 {
        @include title;
        margin: .4375rem 1.0625rem .9375rem;
      }

      &__text2 {
        @include text;
        margin: 0rem 1rem 1.0625rem;
      }
    }
  }

  &__card2row {
    @include __card;
    border: .0625rem solid #e8e9ed;
    &__containerImg1 {
      @include containerImg;
      background-color: #fff;

      &__circleBlue {
        position: absolute;
        width: 131.88px;
        top: 1.0625rem;
        left: 5.625rem;
      }

      &__circleBluePc {
        display: none;
      }

      &__mobile {
        position: absolute;
        width: 160px;
        top: 1.5631rem;
        left: 5.625rem;
      }
    }

    &__containerText1 {
      @include containerText;
      padding-top: 10.625rem;
      background-color: #fff;

      &__title {
        @include title;
        margin: 0rem 1.25rem 3.125rem;
      }

      &__text {
        margin: 0rem 1.25rem 2.1875rem;
        @include text;
      }

      &__title2 {
        @include title;
        margin: .4375rem 1.0625rem .9375rem;
      }

      &__text2 {
        @include text;
        margin: 0rem 1rem 1.0625rem;
      }
    }
  }

  &__card2 {
    @include __card;
    padding: 0rem 0 .625rem;
    margin: 1.25rem 0 0rem;

    &__containerText2 {
      @include containerText;
      padding-top: 1.5625rem;
      background-color: #fff;
      border: .0625rem solid #e8e9ed;
      border-radius: .1875rem;

      &__title {
        @include title;
        margin: .3125rem auto 1.0625rem;
      }

      &__text {
        @include text;
        margin: 1.25rem 1.25rem 1.5625rem;
        font-family: $font-secondary;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.3619rem;
      }
    }

    &__containerImg2 {
      @include containerImg;
      border: .0625rem solid #e8e9ed;
      border-radius: .3125rem;
      position: relative;

      // &__backgroundGreenPC {
      //   display: none;
      // }

      &__backgroundGreen {
        border-radius: .3125rem;
        border: .0625rem;
        position: absolute;
        padding: 0rem;
        left: 0rem;
        top: -0.125rem;
      }

      &__megaphone {
        z-index: 1;
        position: absolute;
        top: 1.5rem;
        right: 1.875rem;
        padding: 0;
        margin: 0rem;
      }
    }
  }
}

@media (min-width: 1000px) {
  .section2 {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0;

    &__limit {
      @include limit;
      flex-direction: column;
      justify-content: space-between;
      padding: 5.625rem 0rem;
    }

    .section2__card1 {
      display: flex;
      width: 70.25rem;
      flex-direction: row-reverse;
      background-color: #fff;

      &__containerImg1 {
        width: 40%;

        &__rectangleMobile {
          display: none;
        }

        &__rectanglePc {
          display: block;
          position: absolute;
          width: 40%;
          top: 3.75rem;
          left: 17.5rem;
        }

        &__pc {
          flex: 1;
          position: absolute;
          width: 86%;
          top: 7.1875rem;
          right: 1.875rem;
        }

        &__mobile {
          z-index: 2;
          width: 93%;
          top: 1.5625rem;
          left: 5%;
        }

        &__circleBlue {
          position: absolute;
          width: 70%;
          top: .625rem;
          left: 1.25rem;
        }
      }

      &__containerText1 {
        width: 45%;
        padding: 80px 40px;

        &__title {
          font-size: 2.25rem;
          font-weight: 400;
          line-height: 2.625rem;
        }

        &__text {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.375rem;
          text-align: left;
        }

        &__linePink {
          background-color: $color-quaternary;
          height: .25rem;
          width: 70%;
          margin: 10% 5% 0rem;
        }
        &__lineBlue {
          background-color: $color-primary;
          height: .25rem;
          width: 70%;
          margin: 10% 5% 0rem;
        }
      }
    }

    .section2__card2row {
      display: flex;
      flex-wrap: nowrap;
      width: 70.25rem;
      height: 23.125rem;
      background-color: #fff;
      border: .0625rem solid #e8e9ed;
      
      .section2__card2row__containerImg1 {
        width: 50%;
        
        .section2__card2row__containerImg1__circleBlue {
          z-index: 1;
          width: 60%;
          top: .625rem;
          left: 1.25rem;
        }
        
        &__mobile {
          z-index: 2;
          width: 80%;
          top: 1.5625rem;
          left: 5%;
        }
      }
      
      &__containerText1 {
        width: 41%;
        padding: 8% 0%;

        &__lineBlue {
          background-color: $color-primary;
          height: .25rem;
          width: 70%;
          margin: 10% 5% 0rem;
        }
      }
    }

    .section2__card2 {
      display: flex;
      background-color: transparent;
      width: 95.25rem;
      height: 23.125rem;

      &__containerText2 {
        width: 38.75rem;
        height: 23.125rem;
        margin-left: 12.5rem;
        
        &__title {
          margin: 0 1.25rem;
          width: 70%;
          text-align: left;
          font-size: 2.25rem;
          font-weight: 400;
          line-height: 2.625rem;
        }

        &__text {
          width: 75%;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.375rem;
          text-align: left;
        }

        &__lineGreen {
          background-color: $color-tertiary;
          height: .25rem;
          width: 56%;
          margin: 10% 4% 0rem;
        }
      }

      &__containerImg2 {
        width: 27.5rem;
        height: 23.125rem;
        margin-left: 3.75rem;
        position: relative;

        &__backgroundGreen {
          display: absolute;
          padding: 0rem;
          top: 0rem;
          z-index: 1;
          width: 100%;
          height: 100%;
        }

        &__megaphone {
          position: absolute;
          left: 10%;
          top: 6.25rem;
          z-index: 2;
        }
      }
    }
  }
}
