.section1 {
  width: 100%;
  display: block;
  padding-top: 1em;
  padding-bottom: 3em;

  h1 {
    font-size: 1.9rem;
    font-weight: 300;
    margin: 0em auto;
    padding: 0em 1em 0.3em;
  }

  &__containerCard {
    display: inline-block;
    margin: 0 .625em;

    &__card {
      display: block;
      width: 22.5em;
      padding: .625em 0rem 0rem;
      margin: .625em 0;

      &__container {
        margin: 0 auto;
        width: 3.9375em;
        position: relative;

        &__circle {
          display: inline-block;
          position: relative;
          border-radius: 50%;
          width: 3.9375em;
        }

        &__vectors {
          position: absolute;
          width: 2.7513em;
          top: 0px;

          &__head {
            position: absolute;
            left: 1.1875em;
            padding-left: 1.25em;
          }

          &__body {
            position: absolute;
            padding-left: 1.3125em;
            top: 1.6875em;
            left: .5em;
          }

          &__eye1 {
            position: absolute;
            top: .6875em;
            left: 1.3125em;
          }

          &__eye2 {
            position: absolute;
            top: 1.0625em;
            left: 2.6875em;
            width: 1.5625em;
          }

          &__eye3 {
            position: absolute;
            width: .875em;
            top: 1.415em;
            left: 3em;
          }

          &__box1 {
            position: absolute;
            left: 2em;
            width: 2.3125em;
            top: .25em;
          }

          &__box2 {
            position: absolute;
            top: .5em;
            left: 1.8125em;
            width: 2.6969em;
          }

          &__box3 {
            position: absolute;
            top: .625em;
            left: 1.625em;
            width: 3.0106em;
          }

          &__box4 {
            top: .875em;
            left: 1.5625em;
            width: 3.25em;
            position: absolute;
          }
        }
      }

      p {
        margin: 0em auto;
        font-family: $font-primary;
      }

      &__title {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 1000;
        line-height: 1.5em;
        letter-spacing: .3725em;
        color: black;
        padding: .5em 0 1.375em;
      }

      &__text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25em;
        text-align: center;
        left: .5em;
        width: 35%;
        color: #a5a5a5;
      }
    }
  }
}

@media (min-width: 62.5rem) {
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      width: 100%;
      font-size: 2.25rem;
      font-weight: 400;
      line-height: 2.625em;
      text-align: center;
      margin: 1.25em 0;
    }

    &__containerCard {
      margin: 4.375em auto 6.25em;
      display: flex;
    }
  }
}
