@import "./variables";
@import "./mixin";

.section3 {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0;

  h3 {
    margin: 1.4em 0 0.2em;
    display: block;
    font-size: 2.25rem;
    font-weight: 400;
  }

  button {
    @include button;
    padding: 1em 4em;
    border-radius: 1.7em;
    position: absolute;
    top: 17.5em;
    right: 5.9em;
    font-family: $font-secondary;
    font-size: 0.8125rem;
    font-weight: 400;
  }

  &__card3 {
    border-radius: 1.125em;
    margin: 1em auto 3.2em;
    padding: 1.5em 0em 1.7em;
    position: relative;
    width: 80%;
    box-sizing: border-box;

    &:nth-of-type(1) /*basic card*/ {
      border: 0.0625em solid $color-quaternary;
      button {
        background-color: $color-quaternary;
      }

      .section3__card3__containerPrice__price {
        color: $color-quaternary;
      }

      &:nth-of-type(1):hover {
        box-shadow: 0.125em 0.5625em 3.125em -1.5625em $color-quaternary;
        width: 85%;
        padding: 2.7em 0 2.7em;
        padding: 4em 0 2.7em;

        .section3__card3__containerPrice {
          transform: translate(0, -20%);
        }

        button {
          top: 20em;
          right: 6.8em;
          box-shadow: 0.125em 0.5625em 1.5625em -0.625em $color-quaternary;
        }
      }
    }

    &:nth-of-type(2) /*professional card*/ {
      border: 0.0625em solid $color-primary;

      button {
        background-color: $color-primary;
      }

      .section3__card3__containerPrice__price {
        color: $color-primary;
      }

      &:nth-of-type(2):hover {
        box-shadow: 0.125em 0.5625em 3.125em -1.5625em $color-primary;

        width: 85%;
        padding: 2.7em 0 2.7em;
        padding: 4em 0 2.7em;
        .section3__card3__containerPrice {
          transform: translate(0, -43%);
        }

        button {
          top: 20em;
          right: 6.8em;
          box-shadow: 0.125em 0.5625em 1.5625em -0.625em $color-primary;
        }
      }
    }

    &:nth-of-type(3) /*premium card*/ {
      border: 0.0625em solid $color-tertiary;

      button {
        background-color: $color-tertiary;
      }

      .section3__card3__containerPrice__price {
        color: $color-tertiary;
      }

      &:nth-of-type(3):hover {
        box-shadow: 0.125em 0.5625em 3.125em -1.5625em $color-tertiary;
        width: 85%;
        padding: 4em 0 2.7em;

        .section3__card3__containerPrice {
          transform: translate(0, -45%);
        }

        button {
          top: 20em;
          right: 6.8em;
          box-shadow: 0.125em 0.5625em 1.5625em -0.625em $color-tertiary;
        }
      }
    }

    &__containerPrice {
      // background-color: blue;
      text-align: center;
      display: inline-block;
      width: 45%;
      transform: translate(0, -40%);

      &__basic {
        font-family: $font-primary;
        font-size: 1.2rem;
        font-weight: 800;
        margin: 0 auto;
      }

      &__price {
        font-family: $font-secondary;
        font-size: 2.7rem;
        font-weight: 300;
        margin: 0 auto;
      }

      &__subtitle {
        text-align: center;
        margin: 0 auto;
        font-family: $font-primary;
        font-size: 0.75rem;
        font-weight: 700;
        color: #13253b;
      }
    }

    &__containerFeature {
      display: inline-block;
      width: 49%;
      list-style: none;
      text-align: left;

      li {
        font-size: 0.875rem;
        text-align: left;
        font-weight: 400;
        font-family: $font-secondary;
        padding: 0em 0em 1.5em 0em;

        img {
          margin: 0 0.3em 0 0.2em;
        }
      }
    }
  }
}

@media (min-width: 62.5rem) {
  .section3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    h3 {
      margin: 0;
      padding: 3em 0 1em;
      font-size: 2.25rem;
      font-weight: 400;
      text-align: center;
    }

    .limit3 {
      @include limit;
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      padding: 3em 0em;
      // display: none;
    }

    .section3__card3 {
      margin: 0 2.2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 23.5em;
      padding: 4em 0 4em;

      button {
        display: block;
        clear: absolute;
        transform: translate(-30%, 475%);
      }

      &__containerPrice {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0em 0em;

        &__basic {
          font-family: $font-primary;
          font-size: 1.25rem;
          font-weight: 700;
          padding-bottom: 0.75em;
        }

        &__price {
          width: 59;
          padding-top: 0em;
          font-family: $font-secondary;
          font-size: 2.875rem;
          font-weight: 300;
          margin: 0 auto;
        }

        &__subtitle {
          width: 8em;
          margin: 0 auto;
          font-size: 0.75rem;
          font-weight: 700;
          text-align: center;
          color: #13253b;
        }
      }

      &__containerFeature {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0em;
        text-align: center;
        margin: 0 auto;

        li {
          margin: 0 auto;
          display: flex;
          align-items: center;

          img {
            margin: 0.5em;
          }
        }
      }

      &:nth-of-type(1) /*basic card*/ {
        border: 0.0625em solid $color-quaternary;
        button {
          background-color: $color-quaternary;
        }

        .section3__card3__containerPrice__price {
          color: $color-quaternary;
        }

        &:nth-of-type(1):hover {
          box-shadow: 0.125em 0.5625em 3.125em -1.5625em $color-quaternary;
          width: 27em;
          // transform: scale(110%);

          .section3__card3__containerPrice {
            transform: translate(0, -20%);
          }

          button {
            top: 15em;
            right: 8em;
            box-shadow: 0.125em 0.5625em 1.5625em -0.625em $color-quaternary;
          }
        }
      }

      &:nth-of-type(2) /*professional card*/ {
        border: 0.0625em solid $color-primary;

        button {
          background-color: $color-primary;
        }

        .section3__card3__containerPrice__price {
          color: $color-primary;
        }

        &:nth-of-type(2):hover {
          box-shadow: 0.125em 0.5625em 3.125em -1.5625em $color-primary;

          width: 25em;
          margin: 0 1.45em;
          // transform: scale(110%);

          .section3__card3__containerPrice {
            transform: translate(0, -20%);
          }

          button {
            top: 15em;
            right: 8em;
            box-shadow: 0.125em 0.5625em 1.5625em -0.625em $color-primary;
          }
        }
      }

      &:nth-of-type(3) /*premium card*/ {
        border: 0.0625em solid $color-tertiary;

        button {
          background-color: $color-tertiary;
        }

        .section3__card3__containerPrice__price {
          color: $color-tertiary;
        }

        &:nth-of-type(3):hover {
          box-shadow: 0.125em 0.5625em 3.125em -1.5625em $color-tertiary;
          
          width: 30%;
          transform: scale(110%);

          .section3__card3__containerPrice {
            transform: translate(0, -43%);
          }

          button {
            top: 15em;
            right: 8em;
            box-shadow: 0.125em 0.5625em 1.5625em -0.625em $color-tertiary;
          }
        }
      }
    }
  }
}
