@import "./mixin";

.section2 {
  display: block;
  text-align: center;
  background-color: #f7f7f7;
  padding: 1.5625rem 0 14.375rem;

  &__card1 {
    @include __card;
    border: 1px solid #e8e9ed;

    &__containerImg1 {
      @include containerImg;
      background-color: #fff;

      &__rectangleMobile {
        position: absolute;
        width: 90.12px;
        top: .9375rem;
      }

      &__rectanglePc {
        display: none;
      }

      &__pc {
        position: absolute;
        width: 192.76px;
        top: 2.3194em;
        left: 3.4544em;
      }

      &__circleBlue {
        position: absolute;
        width: 131.88px;
        top: 1.0625em;
        left: 5.625em;
      }

      &__circleBluePc {
        display: none;
      }

      &__mobile {
        position: absolute;
        width: 160px;
        top: 1.5631em;
        left: 5.625em;
      }
    }

    &__containerText1 {
      @include containerText;
      padding-top: 10.625em;
      background-color: #fff;

      &__title {
        @include title;
        margin: 0em 1.25em 3.125em;
      }

      &__text {
        margin: 0em 1.25em 2.1875em;
        @include text;
      }

      &__title2 {
        @include title;
        margin: .4375em 1.0625em .9375em;
      }

      &__text2 {
        @include text;
        margin: 0em 1em 1.0625em;
      }
    }
  }

  &__card2row {
    @include __card;
    border: .0625em solid #e8e9ed;
    &__containerImg1 {
      @include containerImg;
      background-color: #fff;

      &__circleBlue {
        position: absolute;
        width: 131.88px;
        top: 1.0625em;
        left: 5.625em;
      }

      &__circleBluePc {
        display: none;
      }

      &__mobile {
        position: absolute;
        width: 160px;
        top: 1.5631em;
        left: 5.625em;
      }
    }

    &__containerText1 {
      @include containerText;
      padding-top: 10.625em;
      background-color: #fff;

      &__title {
        @include title;
        margin: 0em 1.25em 3.125em;
      }

      &__text {
        margin: 0em 1.25em 2.1875em;
        @include text;
      }

      &__title2 {
        @include title;
        margin: .4375em 1.0625em .9375em;
      }

      &__text2 {
        @include text;
        margin: 0em 1em 1.0625em;
      }
    }
  }

  &__card2 {
    @include __card;
    padding: 0em 0 .625em;
    margin: 1.25em 0 0em;

    &__containerText2 {
      @include containerText;
      padding-top: 1.5625em;
      background-color: #fff;
      border: .0625em solid #e8e9ed;
      border-radius: .1875em;

      &__title {
        @include title;
        margin: .3125em auto 1.0625em;
      }

      &__text {
        @include text;
        margin: 1.25em 1.25em 1.5625em;
        font-family: $font-secondary;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.3619em;
      }
    }

    &__containerImg2 {
      @include containerImg;
      border: .0625em solid #e8e9ed;
      border-radius: .3125em;
      position: relative;

      // &__backgroundGreenPC {
      //   display: none;
      // }

      &__backgroundGreen {
        border-radius: .3125em;
        border: .0625em;
        position: absolute;
        padding: 0em;
        left: 0em;
        top: -0.125em;
      }

      &__megaphone {
        z-index: 1;
        position: absolute;
        top: 1.5em;
        right: 1.875em;
        padding: 0;
        margin: 0em;
      }
    }
  }
}

@media (min-width: 1000px) {
  .section2 {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0;

    &__limit {
      @include limit;
      flex-direction: column;
      justify-content: space-between;
      padding: 5.625em 0em;
    }

    .section2__card1 {
      display: flex;
      width: 70.25em;
      flex-direction: row-reverse;
      background-color: #fff;

      &__containerImg1 {
        width: 40%;

        &__rectangleMobile {
          display: none;
        }

        &__rectanglePc {
          display: block;
          position: absolute;
          width: 40%;
          top: 3.75em;
          left: 17.5em;
        }

        &__pc {
          flex: 1;
          position: absolute;
          width: 86%;
          top: 7.1875em;
          right: 1.875em;
        }

        &__mobile {
          z-index: 2;
          width: 93%;
          top: 1.5625em;
          left: 5%;
        }

        &__circleBlue {
          position: absolute;
          width: 70%;
          top: .625em;
          left: 1.25em;
        }
      }

      &__containerText1 {
        width: 45%;
        padding: 5em 2.5em;

        &__title {
          font-size: 2.25rem;
          font-weight: 400;
          line-height: 2.625em;
        }

        &__text {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.375em;
          text-align: left;
        }

        &__linePink {
          background-color: $color-quaternary;
          height: .25em;
          width: 70%;
          margin: 2em 5em 0em;
        }
        &__lineBlue {
          background-color: $color-primary;
          height: .25em;
          width: 70%;
          margin: 2em 5em 0em;
        }
      }
    }

    .section2__card2row {
      display: flex;
      flex-wrap: nowrap;
      background-color: #fff;
      border: .0625em solid #e8e9ed;
      
      .section2__card2row__containerImg1 {
        width: 50%;
        
        .section2__card2row__containerImg1__circleBlue {
          z-index: 1;
          width: 60%;
          top: .625em;
          left: 1.25em;
        }
        
        &__mobile {
          z-index: 2;
          width: 80%;
          top: 1.5625em;
          left: 5%;
        }
      }
      
      &__containerText1 {
        width: 41%;
        padding: 8em 0em;

        &__lineBlue {
          background-color: $color-primary;
          height: .25rem;
          width: 70%;
          margin: 10em 5em 0rem;
        }
      }
    }

    .section2__card2 {
      display: flex;
      background-color: transparent;
      width: 95.25em;
      height: 23.125em;

      &__containerText2 {
        width: 38.75em;
        height: 23.125em;
        margin-left: 12.5em;
        
        &__title {
          margin: 0 1.25em;
          width: 70%;
          text-align: left;
          font-size: 2.25rem;
          font-weight: 400;
          line-height: 2.625em;
        }

        &__text {
          width: 75%;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.375em;
          text-align: left;
        }

        &__lineGreen {
          background-color: $color-tertiary;
          height: .25em;
          width: 56%;
          margin: 10em 4em 0em;
        }
      }

      &__containerImg2 {
        width: 27.5em;
        height: 23.125em;
        margin-left: 3.75em;
        position: relative;

        &__backgroundGreen {
          display: absolute;
          padding: 0em;
          top: 0em;
          z-index: 1;
          width: 100%;
          height: 100%;
        }

        &__megaphone {
          position: absolute;
          left: 10%;
          top: 6.25em;
          z-index: 2;
        }
      }
    }
  }
}
