$font-primary: "Raleway", sans-serif;
$font-secondary: "Open Sans", sans-serif;

$color-primary: #08a6e4;
$color-secondary: #a5a5a5;
$color-tertiary: #55dfb4;
$color-quaternary: #eb476e;

$color-shadow: #00000033;
$color-shadow-blue: #07ACE64A;