nav {
  width: 100%;
  box-shadow: 0em 0.1875em 0.375em 0em rgba(0, 0, 0, 0.2);
}
nav .logoNav {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.3125em;
  color: #08a6e4;
  text-align: left;
  display: inline;
  margin-right: 3.7em;
}
nav .menu {
  display: inline;
  position: absolute;
  top: 0.9em;
  right: 0.7em;
  margin-bottom: 0.5em;
  padding: 1em;
}
nav .menu__rectangle {
  display: inline-block;
}
nav ul {
  display: none;
}

@media (min-width: 1000px) {
  nav {
    width: 100%;
    display: flex;
    margin: 0 auto;
  }
  nav .limit {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 101.625em;
    min-width: 62.5em;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
  }
  nav .limit .logoNav {
    margin-left: 4.3em;
  }
  nav .limit .menu {
    display: none;
  }
  nav .limit ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  nav .limit ul li {
    color: #a5a5a5;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 0.9375em;
    letter-spacing: 0.205em;
    text-align: center;
    padding: 0.875em 8.5em 0.875em 0em;
    border-bottom: 0.1875em solid transparent;
  }
  nav .limit ul li:hover {
    color: black;
    border-bottom: 0.1875em solid #08a6e4;
  }
}
header {
  display: block;
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
header h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5681em;
  margin: 2.1em auto 0em;
}
header p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 0 auto;
}
header button {
  border-radius: 25%;
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  border-radius: 40px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  box-shadow: 0.3125em 0.625em 0.875em 0em rgba(7, 172, 230, 0.2901960784);
  font-size: 1em;
  font-weight: 700;
  margin: 1.4375em auto 4em;
  padding: 1.375em 5.625em;
  background-color: #08a6e4;
}
header .header__container {
  margin: 0em auto 0em;
  display: block;
  overflow: hidden;
  width: 23.4375em;
}
header .header__container__img {
  width: 100%;
  height: 16.6875rem;
  display: block;
  object-fit: cover;
  margin: 0px auto;
}

@media (min-width: 62.5rem) {
  header {
    width: 100%;
  }
  header h1 {
    width: 15.125em;
    font-size: 49px;
    font-weight: 400;
    line-height: 3.5625em;
    text-align: center;
  }
  header p {
    width: 25em;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
  }
  header button {
    line-height: 1.375em;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: 1.4375em auto 0em;
    padding: 1.375em 9.6875em;
  }
  header .header__container {
    width: 100%;
  }
  header .header__container__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin: 0em auto;
  }
}
.section1 {
  width: 100%;
  display: block;
  padding-bottom: 3em;
}
.section1 h1 {
  font-size: 30.4px;
  font-weight: 300;
  margin: 0em auto;
  padding: 0em 1em 0.3em;
}
.section1__containerCard {
  display: inline-block;
  margin: 0 0.625em;
}
.section1__containerCard__card {
  display: block;
  width: 22.5em;
  padding: 0.625em 0rem 0rem;
  margin: 0.625em 0;
}
.section1__containerCard__card__container {
  margin: 0 auto;
  width: 3.9375em;
  position: relative;
}
.section1__containerCard__card__container__circle {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 3.9375em;
}
.section1__containerCard__card__container__vectors {
  position: absolute;
  width: 2.7513em;
  top: 0px;
}
.section1__containerCard__card__container__vectors__head {
  position: absolute;
  left: 1.1875em;
  padding-left: 1.25em;
}
.section1__containerCard__card__container__vectors__body {
  position: absolute;
  padding-left: 1.3125em;
  top: 1.6875em;
  left: 0.5em;
}
.section1__containerCard__card__container__vectors__eye1 {
  position: absolute;
  top: 0.6875em;
  left: 1.3125em;
}
.section1__containerCard__card__container__vectors__eye2 {
  position: absolute;
  top: 1.0625em;
  left: 2.6875em;
  width: 1.5625em;
}
.section1__containerCard__card__container__vectors__eye3 {
  position: absolute;
  width: 0.875em;
  top: 1.415em;
  left: 3em;
}
.section1__containerCard__card__container__vectors__box1 {
  position: absolute;
  left: 2em;
  width: 2.3125em;
  top: 0.25em;
}
.section1__containerCard__card__container__vectors__box2 {
  position: absolute;
  top: 0.5em;
  left: 1.8125em;
  width: 2.6969em;
}
.section1__containerCard__card__container__vectors__box3 {
  position: absolute;
  top: 0.625em;
  left: 1.625em;
  width: 3.0106em;
}
.section1__containerCard__card__container__vectors__box4 {
  top: 0.875em;
  left: 1.5625em;
  width: 3.25em;
  position: absolute;
}
.section1__containerCard__card p {
  margin: 0em auto;
  font-family: "Raleway", sans-serif;
}
.section1__containerCard__card__title {
  text-align: center;
  font-size: 20px;
  font-weight: 1000;
  line-height: 1.5em;
  letter-spacing: 0.3725em;
  color: black;
  padding: 0.5em 0 1.375em;
}
.section1__containerCard__card__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em;
  text-align: center;
  left: 0.5em;
  width: 35%;
  color: #a5a5a5;
}

@media (min-width: 62.5rem) {
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section1 h3 {
    width: 100%;
    font-size: 36px;
    font-weight: 400;
    line-height: 2.625em;
    text-align: center;
    margin: 1.25em 0;
  }
  .section1__containerCard {
    margin: 4.375em auto 6.25em;
    display: flex;
  }
}
.section2 {
  display: block;
  text-align: center;
  background-color: #f7f7f7;
  padding: 1.48em 0em 12em;
}
.section2__card1 {
  margin: 1.1875em auto 1.125em;
  width: 19.7em;
  border-radius: 0.3125em;
  display: inline-block;
  border: 0.0625em solid #e8e9ed;
  background-color: #fff;
}
.section2__card1__containerImg1 {
  margin: 0em auto 0.75em;
  position: relative;
}
.section2__card1__containerImg1__rectangleMobile {
  position: absolute;
  width: 90.12px;
  top: 0.9rem;
}
.section2__card1__containerImg1__rectanglePc {
  display: none;
}
.section2__card1__containerImg1__pc {
  position: absolute;
  width: 192.76px;
  top: 2.35em;
  left: 3.4544em;
}
.section2__card1__containerText {
  display: block;
  padding: 9.3em 1em 1.6em 1em;
}
.section2__card1__containerText__title {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0.5em 0 1.6em;
  text-align: left;
  font-family: "Raleway", sans-serif;
}
.section2__card1__containerText__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3125em;
  text-align: left;
}
.section2__card2row {
  margin: 1.1875em auto 1.125em;
  width: 19.7em;
  border-radius: 0.3125em;
  display: inline-block;
  border: 0.0625em solid #e8e9ed;
  background-color: #fff;
}
.section2__card2row__containerImg1 {
  margin: 0em auto 0.75em;
  position: relative;
}
.section2__card2row__containerImg1__circleBlue {
  position: absolute;
  width: 131.88px;
  top: 1.0625em;
  left: 5.625em;
}
.section2__card2row__containerImg1__circleBluePc {
  display: none;
}
.section2__card2row__containerImg1__mobile {
  position: absolute;
  width: 175px;
  top: 1.5631em;
  left: 5.625em;
}
.section2__card2row__containerText {
  display: block;
  padding: 9.3em 1em 1.6em 1em;
}
.section2__card2row__containerText__title {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0.5em 0 1.6em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0.74em;
}
.section2__card2row__containerText__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3125em;
  text-align: left;
}
.section2__card3 {
  margin: 1.1875em auto 1.125em;
  width: 19.7em;
  border-radius: 0.3125em;
  display: inline-block;
  border: 0.0625em solid #e8e9ed;
  background-color: #fff;
}
.section2__card3__containerText {
  display: block;
  padding: 9.3em 1em 1.6em 1em;
  padding-top: 1.5625em;
  background-color: #fff;
  border: 0.0625em solid #e8e9ed;
  border-radius: 0.1875em;
}
.section2__card3__containerText__title {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0.5em 0 1.6em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  margin: 0.3125em auto 1.0625em;
}
.section2__card3__containerText__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3125em;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3619em;
}
.section2__card3__containerImg {
  margin: 0em auto 0.75em;
  position: relative;
  border: 0.0625em solid #e8e9ed;
  border-radius: 0.3125em;
  position: relative;
}
.section2__card3__containerImg__backgroundGreen {
  border-radius: 0.3125em;
  border: 0.0625em;
  position: absolute;
  padding: 0em;
  left: 0em;
  top: -0.9em;
  height: 195px;
}
.section2__card3__containerImg__megaphone {
  z-index: 1;
  position: absolute;
  top: 0.5em;
  right: 1.875em;
  padding: 0;
  margin: 0em;
}

@media (min-width: 1000px) {
  .section2 {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0;
  }
  .section2__limit {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 101.625em;
    min-width: 62.5em;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: 5.625em 0em;
  }
  .section2 .section2__card1 {
    display: flex;
    width: 70.25em;
    flex-direction: row-reverse;
    background-color: #fff;
  }
  .section2 .section2__card1__containerImg1 {
    width: 40%;
  }
  .section2 .section2__card1__containerImg1__rectangleMobile {
    display: none;
  }
  .section2 .section2__card1__containerImg1__rectanglePc {
    display: block;
    position: absolute;
    width: 40%;
    top: 3.75em;
    left: 17.5em;
  }
  .section2 .section2__card1__containerImg1__pc {
    flex: 1;
    position: absolute;
    width: 86%;
    top: 7.1875em;
    right: 1.875em;
  }
  .section2 .section2__card1__containerImg1__mobile {
    z-index: 2;
    width: 93%;
    top: 1.5625em;
    left: 5%;
  }
  .section2 .section2__card1__containerImg1__circleBlue {
    position: absolute;
    width: 70%;
    top: 0.625em;
    left: 1.25em;
  }
  .section2 .section2__card1__containerText1 {
    width: 45%;
    padding: 5em 2.5em;
  }
  .section2 .section2__card1__containerText1__title {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.625em;
  }
  .section2 .section2__card1__containerText1__text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375em;
    text-align: left;
  }
  .section2 .section2__card1__containerText1__linePink {
    background-color: #eb476e;
    height: 0.25em;
    width: 70%;
    margin: 2em 5em 0em;
  }
  .section2 .section2__card1__containerText1__lineBlue {
    background-color: #08a6e4;
    height: 0.25em;
    width: 70%;
    margin: 2em 5em 0em;
  }
  .section2 .section2__card2row {
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    border: 0.0625em solid #e8e9ed;
  }
  .section2 .section2__card2row .section2__card2row__containerImg1 {
    width: 50%;
  }
  .section2 .section2__card2row .section2__card2row__containerImg1 .section2__card2row__containerImg1__circleBlue {
    z-index: 1;
    width: 60%;
    top: 0.625em;
    left: 1.25em;
  }
  .section2 .section2__card2row .section2__card2row__containerImg1__mobile {
    z-index: 2;
    width: 80%;
    top: 1.5625em;
    left: 5%;
  }
  .section2 .section2__card2row__containerText1 {
    width: 41%;
    padding: 8em 0em;
  }
  .section2 .section2__card2row__containerText1__lineBlue {
    background-color: #08a6e4;
    height: 0.25rem;
    width: 70%;
    margin: 10em 5em 0rem;
  }
  .section2 .section2__card2 {
    display: flex;
    background-color: transparent;
    width: 95.25em;
    height: 23.125em;
  }
  .section2 .section2__card2__containerText2 {
    width: 38.75em;
    height: 23.125em;
    margin-left: 12.5em;
  }
  .section2 .section2__card2__containerText2__title {
    margin: 0 1.25em;
    width: 70%;
    text-align: left;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.625em;
  }
  .section2 .section2__card2__containerText2__text {
    width: 75%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375em;
    text-align: left;
  }
  .section2 .section2__card2__containerText2__lineGreen {
    background-color: #55dfb4;
    height: 0.25em;
    width: 56%;
    margin: 10em 4em 0em;
  }
  .section2 .section2__card2__containerImg2 {
    width: 27.5em;
    height: 23.125em;
    margin-left: 3.75em;
    position: relative;
  }
  .section2 .section2__card2__containerImg2__backgroundGreen {
    display: absolute;
    padding: 0em;
    top: 0em;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .section2 .section2__card2__containerImg2__megaphone {
    position: absolute;
    left: 10%;
    top: 6.25em;
    z-index: 2;
  }
}
.section3 {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
.section3 h3 {
  margin: 1.4em 0 0.2em;
  display: block;
  font-size: 2.25rem;
  font-weight: 400;
}
.section3 button {
  border-radius: 25%;
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  border-radius: 40px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 1em 4em;
  border-radius: 1.7em;
  position: absolute;
  top: 17.5em;
  right: 5.9em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
}
.section3__card3 {
  border-radius: 1.125em;
  margin: 1em auto 3.2em;
  padding: 1.5em 0em 1.7em;
  position: relative;
  width: 80%;
}
.section3__card3:nth-of-type(1) {
  border: 0.0625em solid #eb476e;
}
.section3__card3:nth-of-type(1) button {
  background-color: #eb476e;
}
.section3__card3:nth-of-type(1) .section3__card3__containerPrice__price {
  color: #eb476e;
}
.section3__card3:nth-of-type(1):nth-of-type(1):hover {
  box-shadow: 0.125em 0.5625em 3.125em -1.5625em #eb476e;
  width: 85%;
  padding: 2.7em 0 2.7em;
}
.section3__card3:nth-of-type(1):nth-of-type(1):hover .section3__card3__containerPrice {
  transform: translate(0, -20%);
}
.section3__card3:nth-of-type(1):nth-of-type(1):hover button {
  top: 20em;
  right: 6.8em;
  box-shadow: 0.125em 0.5625em 1.5625em -0.625em #eb476e;
}
.section3__card3:nth-of-type(2) {
  border: 0.0625em solid #08a6e4;
}
.section3__card3:nth-of-type(2) button {
  background-color: #08a6e4;
}
.section3__card3:nth-of-type(2) .section3__card3__containerPrice__price {
  color: #08a6e4;
}
.section3__card3:nth-of-type(2):nth-of-type(2):hover {
  box-shadow: 0.125em 0.5625em 3.125em -1.5625em #08a6e4;
  width: 85%;
  padding: 2.7em 0 2.7em;
}
.section3__card3:nth-of-type(2):nth-of-type(2):hover .section3__card3__containerPrice {
  transform: translate(0, -43%);
}
.section3__card3:nth-of-type(2):nth-of-type(2):hover button {
  top: 20em;
  right: 6.8em;
  box-shadow: 0.125em 0.5625em 1.5625em -0.625em #08a6e4;
}
.section3__card3:nth-of-type(3) {
  border: 0.0625em solid #55dfb4;
}
.section3__card3:nth-of-type(3) button {
  background-color: #55dfb4;
}
.section3__card3:nth-of-type(3) .section3__card3__containerPrice__price {
  color: #55dfb4;
}
.section3__card3:nth-of-type(3):nth-of-type(3):hover {
  box-shadow: 0.125em 0.5625em 3.125em -1.5625em #55dfb4;
  width: 85%;
  padding: 2.7em 0 2.7em;
}
.section3__card3:nth-of-type(3):nth-of-type(3):hover .section3__card3__containerPrice {
  transform: translate(0, -43%);
}
.section3__card3:nth-of-type(3):nth-of-type(3):hover button {
  top: 20em;
  right: 6.8em;
  box-shadow: 0.125em 0.5625em 1.5625em -0.625em #55dfb4;
}
.section3__card3__containerPrice {
  text-align: center;
  display: inline-block;
  width: 45%;
  transform: translate(0, -40%);
}
.section3__card3__containerPrice__basic {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0 auto;
}
.section3__card3__containerPrice__price {
  font-family: "Open Sans", sans-serif;
  font-size: 2.7rem;
  font-weight: 300;
  margin: 0 auto;
}
.section3__card3__containerPrice__subtitle {
  text-align: center;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #13253b;
}
.section3__card3__containerFeature {
  display: inline-block;
  width: 49%;
  list-style: none;
  text-align: left;
}
.section3__card3__containerFeature li {
  font-size: 0.875rem;
  text-align: left;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  padding: 0em 0em 1.5em 0em;
}
.section3__card3__containerFeature li img {
  margin: 0 0.3em 0 0.2em;
}

@media (min-width: 62.5rem) {
  .section3 {
    display: flex;
    flex-direction: column;
  }
  .section3 h3 {
    padding: 3.75em 0 0em;
    font-size: 36px;
    font-weight: 400;
    line-height: 2.625em;
    text-align: center;
  }
  .section3 .limit3 {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 101.625em;
    min-width: 62.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }
  .section3 .section3__card3 {
    display: flex;
    flex-direction: column;
    height: 28.8125em;
    width: 25em;
  }
  .section3 .section3__card3 button {
    display: none;
  }
  .section3 .section3__card3__containerPrice {
    top: 0em;
    display: flex;
    flex-direction: column;
    padding: 1.5625em 4.6875em;
  }
  .section3 .section3__card3__containerPrice__basic {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5em;
  }
  .section3 .section3__card3__containerPrice__price {
    width: 59;
    padding-top: 0em;
    font-family: "Open Sans", sans-serif;
    font-size: 46px;
    font-weight: 300;
    line-height: 3.75em;
    margin: 0 auto;
  }
  .section3 .section3__card3__containerPrice__subtitle {
    width: 4.625em;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 0.6306em;
    color: #13253b;
  }
  .section3 .section3__card3__containerInputsFeature {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 250%;
    position: relative;
    left: 0em;
    top: 0;
    padding-top: 1.125em;
    right: 0em;
  }
  .section3 .section3__card3__containerInputsFeature__pack {
    background-color: red;
    display: flex;
    flex-direction: row;
  }
  .section3 .section3__card3__containerInputsFeature__pack__input {
    width: 10%;
    display: flex;
    clear: absolute;
  }
  .section3 .section3__card3__containerInputsFeature__pack__input__checkbox {
    width: 0.6875em;
    margin: 0em auto 1.4375em;
  }
  .section3 .section3__card3__containerInputsFeature__pack__text {
    display: block;
    position: absolute;
    width: 70%;
    right: 0em;
    padding-top: 0.5em;
  }
  .section3 .section3__card3__containerInputsFeature__pack__text__title {
    width: 7.1875em;
    left: 1.3125em;
    margin: 0 0.3125em 1.1875em;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1919em;
    text-align: initial;
  }
}
.section4 {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-top: 1.3em;
  padding: 0em 1.8em;
}
.section4 p,
.section4 a,
.section4 label {
  font-family: "Open Sans", sans-serif;
}
.section4__header {
  margin: 0 auto;
}
.section4__header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: start;
}
.section4__header__subtitle {
  font-size: 1rem;
  font-weight: 400;
  font-weight: 500;
}
.section4__header__contact {
  display: inline-block;
  width: 100%;
  margin: 2.1875rem auto 1.25rem;
}
.section4__header__contact__pack {
  margin: 0.25rem;
  display: inline-block;
  position: relative;
  width: 100%;
}
.section4__header__contact__pack__icon {
  width: 20px;
}
.section4__header__contact__pack__text {
  color: #a5a5a5;
  position: absolute;
  top: 0;
  width: 80%;
  left: 2.1619em;
}
.section4__form {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.5em 0;
}
.section4__form__pack__text {
  width: 100%;
  color: #08a6e4;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.125em;
  letter-spacing: 0.205em;
}
.section4__form__pack input {
  width: 19.5em;
  margin: 1.875em 0em 2.1875em;
  display: block;
  width: 19.5em;
  border: none;
  border-bottom: 0.125em solid #95989A;
}
.section4__form__terms {
  width: 100%;
  display: inline-block;
  position: relative;
  direction: ltr;
}
.section4__form__terms__checkbox {
  appearance: none;
  border: 0.0625em solid #95989a;
  border-radius: 0.1875em;
  padding: 0.75em;
  width: 1.5em;
  font-size: 34;
  position: relative;
}
.section4__form__terms__checkbox:checked {
  background: no-repeat;
  background-image: url("../images/check.png");
  background-size: 20;
  background-position: center;
}
.section4__form__terms__text {
  width: 90%;
  font-family: Open Sans;
  font-size: 0.79rem;
  font-weight: 400;
  line-height: 1.23em;
  position: absolute;
  left: 2.1875em;
  top: 0em;
  color: #707070;
}
.section4__form__terms button {
  border-radius: 25%;
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  border-radius: 40px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 14em;
  left: 7.3125em;
  padding: 1.4em 7.5em;
  background-color: #08a6e4;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  box-shadow: 0.125em 0.5625em 1.5625em -0.625em #08a6e4;
}

@media (min-width: 62.5rem) {
  .section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 31.25em;
  }
  .section4 .container4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 101.625em;
    padding-left: 1.25em;
  }
  .section4__header {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 0em;
    padding: 0em 0em 3.125em 1.875em;
  }
  .section4__header h1 {
    width: 100%;
    font-size: 49px;
    font-weight: 400;
    line-height: 3.5956em;
    text-align: left;
    padding-bottom: 1.875em;
  }
  .section4__header__contact {
    width: 100%;
  }
  .section4__header__contact__pack {
    display: block;
  }
  .section4__header__contact__pack__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.375em;
    text-align: left;
  }
  .section4__form {
    display: flex;
    flex-direction: column;
    width: 31%;
    padding: 4.6875em 0 0em 0.9375em;
  }
  .section4__form__pack input {
    width: 96%;
  }
  .section4__form__terms {
    width: 98%;
  }
  .section4__form button {
    top: 8.125em;
    left: 13.75em;
  }
}
footer {
  width: 100%;
  box-shadow: 0em -0.3125em 2.5em 0.3125em rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 15.625em 0em 0;
  padding: 1.2rem 0;
}
footer .pack {
  display: block;
  margin-left: 1.0625em;
}
footer .pack__logoFooter {
  color: #08a6e4;
  font-size: 1.625em;
  font-weight: 300;
  text-align: left;
}
footer .pack__copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 0.6875rem;
  font-weight: 400;
  text-align: left;
  color: #a5a5a5;
}
footer .packLogos {
  position: absolute;
  top: 1.875em;
  left: 18.125em;
  display: inline-block;
}
footer .packLogos__x {
  margin-left: -1.25em;
  padding: 0 0.9375em;
}
footer .packLogos__facebook {
  padding-right: 1.25em;
}

@media (min-width: 1000px) {
  footer {
    width: 100%;
    margin-top: 3.75em;
  }
  footer .limit {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 101.625em;
    min-width: 62.5em;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .limit .pack {
    display: flex;
    flex-direction: column;
    margin-left: 5.3125em;
    width: 40%;
  }
  footer .limit .pack__logoFooter {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.3125em;
    color: #08a6e4;
    text-align: left;
    padding: 0 0.9375em;
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 1.875em;
    text-align: left;
  }
  footer .limit .pack__copyright {
    margin: 0 1.125em;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 0.9363em;
    text-align: left;
  }
  footer .limit .packLogos {
    display: flex;
    top: 0;
    left: -6.25em;
    position: relative;
    width: 4.6875em;
    justify-content: space-around;
    margin-right: 2.5em;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  text-align: center;
}
body h1,
body h2,
body h3 {
  font-family: "Raleway", sans-serif;
  text-align: center;
}
body main {
  display: block;
}

@media (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}