nav {
  width: 375px;
  height: 70px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}
nav .menu {
  width: 20px;
  height: 12px;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 95px;
}
nav .rectangle-menu {
  width: 20px;
  height: 2px;
  display: block;
  margin-bottom: 3px;
}
nav ul {
  display: none;
}

header {
  display: block;
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
header h1 {
  width: 162px;
  height: 41px;
  font-size: 35px;
  font-weight: 400;
  line-height: 41.09px;
  margin: 105px auto 22px auto;
}
header p {
  width: 308px;
  height: 57px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin: 0 auto 7px;
}
header button {
  width: 310px;
  height: 67px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  font-size: 16px;
  font-weight: 700;
  margin: 20px auto 25px;
  background-color: #08a6e4;
}
header .header-img-container {
  margin: 25px auto 10px;
  display: block;
  overflow: hidden;
  width: 375px;
}
header .header-img-container .header-img {
  width: 100%;
  height: 267px;
  display: block;
  object-fit: cover;
  margin: 0px auto;
}

.card, .section1 .card_section1 {
  margin: 0px auto;
}
.card .pink, .section1 .card_section1 .pink,
.card .blue,
.section1 .card_section1 .blue,
.card .green,
.section1 .card_section1 .green {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  height: auto;
  width: auto;
  width: 63px;
  height: 63px;
}
.card .pink, .section1 .card_section1 .pink {
  background-color: #eb476e;
}
.card .blue, .section1 .card_section1 .blue {
  background: #08a6e4;
}
.card .green, .section1 .card_section1 .green {
  background: #55dfb4;
}
.card .container_vectors, .section1 .card_section1 .container_vectors {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card .head, .section1 .card_section1 .head,
.card .body,
.section1 .card_section1 .body,
.card .eye1,
.section1 .card_section1 .eye1,
.card .eye2,
.section1 .card_section1 .eye2,
.card .eye3,
.section1 .card_section1 .eye3,
.card .box1,
.section1 .card_section1 .box1,
.card .box2,
.section1 .card_section1 .box2,
.card .box3,
.section1 .card_section1 .box3,
.card .box4,
.section1 .card_section1 .box4 {
  position: absolute;
}

.section1 {
  display: inline-block;
  padding-bottom: 50px;
}
.section1 h3 {
  width: 303px;
  height: 112px;
  top: 714px;
  left: 36px;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  margin: 0 auto 25px;
}
.section1 .card_section1 {
  display: inline-block;
  max-height: 168px;
  width: 370px;
  padding: 0px 0 25px;
}
.section1 .card_section1 .container_icons {
  margin: 0 auto;
  width: 63px;
  height: 63px;
  position: relative;
}
.section1 .card_section1 .container_icons .container_vectors {
  height: 51px;
  width: 44.02px;
  top: 28px;
}
.section1 .card_section1 .container_icons .container_vectors .head {
  left: 11px;
  padding-left: 20px;
}
.section1 .card_section1 .container_icons .container_vectors .body {
  padding-left: 21px;
  top: 27px;
  left: 0px;
}
.section1 .card_section1 .container_icons .container_vectors .eye1 {
  height: 33px;
  top: 12px;
  left: 16px;
}
.section1 .card_section1 .container_icons .container_vectors .eye2 {
  top: 15.5px;
  left: 33px;
  width: 25px;
  height: 25px;
}
.section1 .card_section1 .container_icons .container_vectors .eye3 {
  width: 12px;
  height: 12px;
  top: 22.64px;
  left: 40px;
}
.section1 .card_section1 .container_icons .container_vectors .box1 {
  left: 32px;
  width: 37px;
  height: 3px;
  top: 2px;
}
.section1 .card_section1 .container_icons .container_vectors .box2 {
  top: 6px;
  left: 29px;
  width: 43.15px;
  height: 3px;
}
.section1 .card_section1 .container_icons .container_vectors .box3 {
  top: 10px;
  left: 26px;
  width: 48.17px;
  height: 3px;
}
.section1 .card_section1 .container_icons .container_vectors .box4 {
  top: 14px;
  left: 25px;
  width: 52px;
  height: 36px;
}
.section1 .card_section1 p {
  margin: 0px auto;
  font-family: "Raleway", sans-serif;
  color: #a5a5a5;
}
.section1 .card_section1 .title {
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 5.9600000381px;
  width: 117px;
  height: 24px;
  color: black;
  margin: 15px auto;
}
.section1 .card_section1 .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  left: 8px;
  width: 35%;
}

.section2 {
  display: block;
  text-align: center;
  background-color: #f7f7f7;
  padding: 25px 0;
}
.section2__card1 {
  margin: 19px auto;
  width: 315px;
  height: 370px;
  border-radius: 5px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #e8e9ed;
}
.section2__card1__containerImg1 {
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}
.section2__card1__containerImg1__rectangleMobile {
  position: absolute;
  width: 90.12px;
  height: 90.12px;
  top: 15px;
}
.section2__card1__containerImg1__rectanglePc {
  display: none;
}
.section2__card1__containerImg1__pc {
  position: absolute;
  width: 192.76px;
  height: 109.93px;
  top: 37.11px;
  left: 55.27px;
}
.section2__card1__containerImg1__circleBlue {
  position: absolute;
  width: 131.88px;
  height: 131.88px;
  top: 17px;
  left: 90px;
}
.section2__card1__containerImg1__mobile {
  position: absolute;
  width: 160px;
  height: 137px;
  top: 25.01px;
  left: 90px;
}
.section2__card1__containerText1 {
  padding-top: 170px;
  display: block;
  padding-top: 170px;
}
.section2__card1__containerText1 p {
  margin: 10px 20px;
  width: 90%;
}
.section2__card1__containerText1__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 35.22px;
  text-align: left;
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 72px;
}
.section2__card1__containerText1__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.section2__card2 {
  margin: 19px auto;
  width: 315px;
  height: 370px;
  border-radius: 5px;
  display: inline-block;
}
.section2__card2__containerImg2 {
  margin: 0 auto;
  position: relative;
  height: 195px;
  border: 1px solid #e8e9ed;
}
.section2__card2__containerImg2__backgroundGreen {
  width: 314px;
  top: 291px;
  left: 11.69px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  position: absolute;
}
.section2__card2__containerImg2__megaphone {
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 30px;
}
.section2__card2__containerText2 {
  padding-top: 170px;
  display: block;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid #e8e9ed;
}
.section2__card2__containerText2 p {
  margin: 10px 20px;
  width: 90%;
}
.section2__card2__containerText2__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 35.22px;
  text-align: left;
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 72px;
}
.section2__card2__containerText2__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.section2__card2__containerText2__text {
  padding-top: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.card, .section1 .card_section1 {
  margin: 0px auto;
}
.card .pink, .section1 .card_section1 .pink,
.card .blue,
.section1 .card_section1 .blue,
.card .green,
.section1 .card_section1 .green {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  height: auto;
  width: auto;
  width: 63px;
  height: 63px;
}
.card .pink, .section1 .card_section1 .pink {
  background-color: #eb476e;
}
.card .blue, .section1 .card_section1 .blue {
  background: #08a6e4;
}
.card .green, .section1 .card_section1 .green {
  background: #55dfb4;
}
.card .container_vectors, .section1 .card_section1 .container_vectors {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card .head, .section1 .card_section1 .head,
.card .body,
.section1 .card_section1 .body,
.card .eye1,
.section1 .card_section1 .eye1,
.card .eye2,
.section1 .card_section1 .eye2,
.card .eye3,
.section1 .card_section1 .eye3,
.card .box1,
.section1 .card_section1 .box1,
.card .box2,
.section1 .card_section1 .box2,
.card .box3,
.section1 .card_section1 .box3,
.card .box4,
.section1 .card_section1 .box4 {
  position: absolute;
}

.section3 {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
}
.section3 h3 {
  margin-bottom: 6px;
  display: block;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  height: 42px;
}
.section3__card3 {
  width: 293px;
  height: 251px;
  border-radius: 18px;
  display: inline-block;
  margin: 10px auto 55px;
  overflow: hidden;
}
.section3__card3:nth-of-type(1) {
  border: 1px solid #eb476e;
}
.section3__card3:nth-of-type(1) .section3__card3__containerPrice__price {
  color: #eb476e;
}
.section3__card3:nth-of-type(2) {
  transform: scale(110%);
  border: 1px solid #08a6e4;
}
.section3__card3:nth-of-type(2) .section3__card3__containerPrice__price {
  color: #08a6e4;
}
.section3__card3:nth-of-type(3) {
  border: 1px solid #55dfb4;
}
.section3__card3:nth-of-type(3) .section3__card3__containerPrice__price {
  color: #55dfb4;
}
.section3__card3__containerPrice {
  position: absolute;
  display: block;
  width: 38%;
  margin: 0 auto;
  padding: 67px 0;
  height: 251px;
}
.section3__card3__containerPrice__basic {
  height: 20px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.section3__card3__containerPrice__price {
  width: 59;
  height: 60px;
  padding-top: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  line-height: 60px;
  margin: 0 auto;
}
.section3__card3__containerPrice__subtitle {
  width: 74px;
  height: 14px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 10.09px;
  color: #13253b;
}
.section3__card3__containerFeature {
  display: inline-block;
  height: 248px;
  width: 45%;
  position: absolute;
  right: 40px;
  padding: 25px 0;
}
.section3__card3__containerFeature__input {
  width: 10%;
  height: 90%;
  display: block;
  position: absolute;
}
.section3__card3__containerFeature__input__checkbox {
  width: 11px;
  height: 11px;
}
.section3__card3__containerFeature__text {
  display: block;
  position: absolute;
  width: 89%;
  left: 20px;
}
.section3__card3__containerFeature__text__title {
  width: 115px;
  height: 19px;
  left: 21px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}
body h1,
body h2,
body h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  margin-bottom: 30px;
  width: 100%;
}
body button {
  border-radius: 25%;
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  border-radius: 40px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}
body .logo_Oxygen {
  width: 206px;
  height: 37px;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 37px;
  text-align: left;
  color: #08a6e4;
  display: inline-block;
  margin-top: 17px;
  margin-left: 25px;
}
body main {
  margin-top: 375px;
  display: inline;
}