.section4 {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-top: 1.3em;
  padding: 0em 1.8em;
}
.section4 p,
.section4 a,
.section4 label {
  font-family: "Open Sans", sans-serif;
}
.section4__header {
  margin: 0 auto;
}
.section4__header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: start;
}
.section4__header__subtitle {
  font-size: 1rem;
  font-weight: 400;
  font-weight: 500;
}
.section4__header__contact {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 2.1875em auto 1.25em;
}
.section4__header__contact__pack {
  display: inline;
  width: 100%;
}
.section4__header__contact__pack__icon {
  display: inline;
  width: 1.25em;
  margin: 0.5em 0.2em 0;
  padding: 0;
}
.section4__header__contact__pack__text {
  margin: 0em 0.2em;
  display: inline;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #a5a5a5;
}
.section4__form {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.5em 0;
}
.section4__form__pack__text {
  width: 100%;
  color: #08a6e4;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.205em;
}
.section4__form__pack__input {
  margin: 1.875em 0em 2.1875em;
  display: block;
  width: 24.5em;
  border: none;
  border-color: transparent;
  border-bottom: 0.125em solid #95989a;
  outline: none;
}
.section4__form__pack .invalid {
  border-bottom: 0.0625em solid red;
}
.section4__form__pack input:focus.invalid {
  outline: none;
}
.section4__form .error {
  display: none;
  width: 20em;
  font-size: 0.9em;
  color: white;
  background-color: tomato;
  margin-bottom: 0.5em;
  border-radius: 0.3125em 0.3125em;
  box-sizing: border-box;
}
.section4__form .active {
  display: block;
}
.section4__form__terms {
  width: 100%;
  display: inline-block;
  position: relative;
  direction: ltr;
}
.section4__form__terms__checkbox {
  appearance: none;
  border: 0.0625em solid #95989a;
  border-radius: 0.1875em;
  padding: 0.75rem;
  position: relative;
}
.section4__form__terms__checkbox:checked {
  background: no-repeat;
  background-image: url("../images/check.png");
  background-size: 1rem;
  background-position: center;
}
.section4__form__terms .invalidCheckbox {
  border: 0.0625em solid red;
}
.section4__form__terms__text {
  width: 90%;
  font-size: 0.79rem;
  font-weight: 400;
  position: absolute;
  left: 3em;
  top: -0.3em;
  color: #707070;
}
.section4__form__terms button {
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  border-radius: 2.5rem;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 14.5em;
  left: 7.3125em;
  padding: 1.4em 7.5em;
  background-color: #08a6e4;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  box-shadow: 0.125em 0.5625em 1.5625em -0.625em #08a6e4;
}

@media (min-width: 62.5rem) {
  .section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section4__header {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 0em;
    padding: 5em 0em 8.5em 0em;
  }
  .section4__header h1 {
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    padding: 0em 0em 0.5em;
  }
  .section4__header__contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -0.9em;
  }
  .section4__header__contact__pack {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0.25em;
  }
  .section4__header__contact__pack__icon {
    margin: 0.25em 0.5em;
  }
  .section4__header__contact__pack__text {
    margin-top: 0.25em;
  }
  .section4__header__contact__pack__text {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    width: 90%;
  }
  .section4__form {
    display: inline-block;
    width: 31%;
    padding: 0em 0 3.8em 0em;
    margin: 0;
  }
  .section4__form__pack input {
    width: 96%;
  }
  .section4__form__terms {
    margin: 0 0.6em;
    width: 97.5%;
  }
  .section4__form__terms__checkbox {
    margin: 0 0 0 -0.8em;
  }
  .section4__form button {
    top: 10.5em;
    left: 16.75em;
  }
}
.scrollerBar {
  width: 100%;
  height: 1em;
  position: relative;
  z-index: 5;
}
.scrollerBar__bar {
  position: fixed;
  top: 4.2em;
  width: 0%;
  height: 0.5em;
  background-color: #08a6e4;
}

.container_icon {
  position: fixed;
  bottom: 4.5em;
  right: 2em;
  margin: 0;
  padding: 0.5em;
  border-radius: 50%;
  background-color: #a5a5a5;
  cursor: pointer;
  z-index: 50;
  border: transparent;
}
.container_icon__arrowUp {
  width: 1em;
}

.back {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  display: none;
}
.back.Up {
  display: block !important;
}
.back__modal {
  background-color: #fff;
  border: none;
  border-radius: 1em;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 10;
  padding: 2em 2em;
}
.back__modal.Up {
  display: block !important;
}
.back__modal__closeModalX {
  display: block;
  transform: translate(3250%, -150%);
  border: none;
  background-color: #fff;
}
.back__modal h3 {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  width: 15em;
}
.back__modal input {
  width: 20em;
  border: none;
  border-color: transparent;
  border-bottom: 0.125em solid #95989a;
  outline: none;
  margin: 2em auto;
}
.back__modal .invalid {
  border-bottom: 0.0625em solid red;
}
.back__modal input:focus.invalid {
  outline: none;
}
.back__modal .error {
  display: none;
  width: 14em;
  margin: 0 auto;
  font-size: 0.9em;
  color: white;
  background-color: tomato;
  margin-bottom: 0.5em;
  border-radius: 0.3125em 0.3125em;
  box-sizing: border-box;
}
.back__modal .active {
  display: block;
}
.back__modal .send {
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  border-radius: 2.5rem;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: #08a6e4;
  padding: 1em 3em;
  margin: 1em auto;
}

.slider {
  margin: 1em auto;
  padding: 0;
  display: block;
  position: relative;
  width: 20em;
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 2em;
  height: 2em;
  cursor: pointer;
  z-index: 2;
  background-color: #a5a5a5;
  border-radius: 1em;
  padding: 0.5em;
}
.slider button img {
  width: 100%;
}
.slider .left {
  left: 0;
}
.slider .right {
  right: 0;
}
.slider__screen {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}
.slider__screen img {
  width: 100%;
  aspect-ratio: 16/9;
}
.slider__indicatorsContainer {
  display: block;
  width: 100%;
  text-align: center;
}
.slider__indicatorsContainer__indicator {
  background-color: #a5a5a5;
  display: inline-block;
  border-radius: 50%;
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
}
.slider__indicatorsContainer__indicator.active {
  background-color: #08a6e4;
}

@media (min-width: 1000px) {
  .container_icon {
    bottom: 2.4em;
    right: 4em;
  }
  .back__modal form {
    display: flex;
    flex-direction: column;
  }
  .slider {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 101.625em;
    min-width: 62.5em;
    box-sizing: border-box;
    display: block;
    width: 24em;
    margin-top: 2em;
  }
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 5;
  box-shadow: 0em 0.1875em 0.375em 0em rgba(0, 0, 0, 0.2);
  padding-left: -3em;
}
nav .logoNav {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.3125em;
  color: #08a6e4;
  text-align: left;
  display: inline;
  position: relative;
  margin-right: 3em;
}
nav button {
  border: none;
  background-color: #fff;
  position: absolute;
  top: 2em;
  right: 2em;
}
nav__burguer {
  display: inline;
}
nav__close {
  display: none;
  position: absolute;
  top: 2em;
  right: 2em;
}
nav ul {
  display: none;
}
nav .open {
  box-shadow: 0em 0.3875em 0.375em 0em rgba(0, 0, 0, 0.2);
  position: absolute;
  display: block;
  width: 100%;
  padding: 1em;
  background-color: #fff;
  z-index: 999;
}
nav .noVisible {
  display: none;
}
nav menu {
  position: absolute;
}
nav li {
  display: block;
  color: #a5a5a5;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.205em;
  text-align: left;
  margin: 0em 0 1em 2em;
}
nav li:hover {
  color: black;
  font-weight: 700;
}

@media (min-width: 1000px) {
  nav {
    width: 100%;
    display: flex;
    margin: 0 auto;
    position: fixed;
  }
  nav .limit {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 101.625em;
    min-width: 62.5em;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
  }
  nav .limit .logoNav {
    margin-left: 4.3em;
  }
  nav .limit .burger,
  nav .limit .open,
  nav .limit .close {
    display: none;
  }
  nav .limit .menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0 5em 0 0;
  }
  nav .limit li {
    color: #a5a5a5;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.205em;
    padding: 0 0.88em;
    margin: 0em 0em 0em 9em;
  }
  nav .limit li:hover {
    margin-bottom: -2.5em;
    border-bottom: 0.4em solid #08a6e4;
  }
}
header {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
}
header h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3em;
  margin: 4.1em auto 0em;
}
header p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto 1em;
  padding: 0 4em;
}
header button {
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  border-radius: 2.5rem;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  box-shadow: 0.3125em 0.625em 0.875em 0em rgba(7, 172, 230, 0.2901960784);
  font-size: 1em;
  font-weight: 700;
  margin: 1.4375em auto 4em;
  padding: 1.375em 5.625em;
  background-color: #08a6e4;
}
header .header__container {
  margin: 0em auto 0em;
  display: block;
  overflow: hidden;
  width: 23.4375em;
  width: 100%;
}
header .header__container__img {
  width: 100%;
  height: 16.6875rem;
  display: block;
  object-fit: cover;
  margin: 0em auto;
}

@media (min-width: 62.5rem) {
  header {
    width: 100%;
  }
  header h1 {
    width: 15.125em;
    font-size: 3.0625rem;
    font-weight: 400;
    text-align: center;
  }
  header p {
    width: 25em;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375em;
    padding: 0em 0 1.5em;
  }
  header button {
    line-height: 1.375em;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    margin: 1.4375em auto 0em;
    padding: 1.375em 9.6875em;
  }
  header .header__container {
    width: 101.625rem;
  }
  header .header__container__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin: 0em auto;
  }
}
.section1 {
  width: 100%;
  display: block;
  padding-top: 1em;
  padding-bottom: 3em;
}
.section1 h1 {
  font-size: 1.9rem;
  font-weight: 300;
  margin: 0em auto;
  padding: 0em 1em 0.3em;
}
.section1__containerCard {
  display: inline-block;
  margin: 0 0.625em;
}
.section1__containerCard__card {
  display: block;
  width: 22.5em;
  padding: 0.625em 0rem 0rem;
  margin: 0.625em 0;
}
.section1__containerCard__card__container {
  margin: 0 auto;
  width: 3.9375em;
  position: relative;
}
.section1__containerCard__card__container__circle {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 3.9375em;
}
.section1__containerCard__card__container__vectors {
  position: absolute;
  width: 2.7513em;
  top: 0px;
}
.section1__containerCard__card__container__vectors__head {
  position: absolute;
  left: 1.1875em;
  padding-left: 1.25em;
}
.section1__containerCard__card__container__vectors__body {
  position: absolute;
  padding-left: 1.3125em;
  top: 1.6875em;
  left: 0.5em;
}
.section1__containerCard__card__container__vectors__eye1 {
  position: absolute;
  top: 0.6875em;
  left: 1.3125em;
}
.section1__containerCard__card__container__vectors__eye2 {
  position: absolute;
  top: 1.0625em;
  left: 2.6875em;
  width: 1.5625em;
}
.section1__containerCard__card__container__vectors__eye3 {
  position: absolute;
  width: 0.875em;
  top: 1.415em;
  left: 3em;
}
.section1__containerCard__card__container__vectors__box1 {
  position: absolute;
  left: 2em;
  width: 2.3125em;
  top: 0.25em;
}
.section1__containerCard__card__container__vectors__box2 {
  position: absolute;
  top: 0.5em;
  left: 1.8125em;
  width: 2.6969em;
}
.section1__containerCard__card__container__vectors__box3 {
  position: absolute;
  top: 0.625em;
  left: 1.625em;
  width: 3.0106em;
}
.section1__containerCard__card__container__vectors__box4 {
  top: 0.875em;
  left: 1.5625em;
  width: 3.25em;
  position: absolute;
}
.section1__containerCard__card p {
  margin: 0em auto;
  font-family: "Raleway", sans-serif;
}
.section1__containerCard__card__title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 1000;
  line-height: 1.5em;
  letter-spacing: 0.3725em;
  color: black;
  padding: 0.5em 0 1.375em;
}
.section1__containerCard__card__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25em;
  text-align: center;
  left: 0.5em;
  width: 35%;
  color: #a5a5a5;
}

@media (min-width: 62.5rem) {
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section1 h3 {
    width: 100%;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.625em;
    text-align: center;
    margin: 1.25em 0;
  }
  .section1__containerCard {
    margin: 4.375em auto 6.25em;
    display: flex;
  }
}
.section2 {
  display: block;
  text-align: center;
  background-color: #f7f7f7;
  padding: 1.48em 0em 12em;
}
.section2__card1 {
  margin: 1.1875em auto 1.125em;
  width: 19.7em;
  border-radius: 0.3125em;
  display: inline-block;
  border: 0.0625em solid #e8e9ed;
  background-color: #fff;
}
.section2__card1__containerImg1 {
  margin: 0em auto 0.75em;
  position: relative;
}
.section2__card1__containerImg1__rectangleMobile {
  position: absolute;
  width: 90.12px;
  top: 0.9rem;
}
.section2__card1__containerImg1__rectanglePc {
  display: none;
}
.section2__card1__containerImg1__pc {
  position: absolute;
  width: 192.76px;
  top: 2.35em;
  left: 3.4544em;
}
.section2__card1__containerText {
  display: block;
  padding: 9.3em 1em 1.6em 1em;
}
.section2__card1__containerText__title {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0.5em 0 1.6em;
  text-align: left;
  font-family: "Raleway", sans-serif;
}
.section2__card1__containerText__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3125em;
  text-align: left;
}
.section2__card2 {
  margin: 1.1875em auto 1.125em;
  width: 19.7em;
  border-radius: 0.3125em;
  display: inline-block;
  border: 0.0625em solid #e8e9ed;
  background-color: #fff;
}
.section2__card2__containerImg2 {
  margin: 0em auto 0.75em;
  position: relative;
}
.section2__card2__containerImg2__circleBlue {
  position: absolute;
  width: 131.88px;
  top: 1.0625em;
  left: 5.625em;
}
.section2__card2__containerImg2__circleBluePc {
  display: none;
}
.section2__card2__containerImg2__mobile {
  position: absolute;
  width: 175px;
  top: 1.5631em;
  left: 5.625em;
}
.section2__card2__containerText {
  display: block;
  padding: 9.3em 1em 1.6em 1em;
}
.section2__card2__containerText__title {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0.5em 0 1.6em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0.74em;
}
.section2__card2__containerText__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3125em;
  text-align: left;
}
.section2__card3 {
  margin: 1.1875em auto 1.125em;
  width: 19.7em;
  border-radius: 0.3125em;
  display: inline-block;
  border: 0.0625em solid #e8e9ed;
  background-color: #fff;
}
.section2__card3__containerText {
  display: block;
  padding: 9.3em 1em 1.6em 1em;
  padding-top: 1.5625em;
  background-color: #fff;
  border: 0.0625em solid #e8e9ed;
  border-radius: 0.1875em;
}
.section2__card3__containerText__title {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0.5em 0 1.6em;
  text-align: left;
  font-family: "Raleway", sans-serif;
  margin: 0.3125em auto 1.0625em;
}
.section2__card3__containerText__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3125em;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3619em;
}
.section2__card3__containerImg {
  margin: 0em auto 0.75em;
  position: relative;
  border: 0.0625em solid #e8e9ed;
  border-radius: 0.3125em;
  position: relative;
}
.section2__card3__containerImg__backgroundGreen {
  border-radius: 0.3125em;
  border: 0.0625em;
  position: absolute;
  padding: 0em;
  left: 0em;
  top: -0.9em;
  height: 195px;
}
.section2__card3__containerImg__megaphone {
  z-index: 1;
  position: absolute;
  top: 0.5em;
  right: 1.875em;
  padding: 0;
  margin: 0em;
}

@media (min-width: 1000px) {
  .section2 {
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 0;
  }
  .section2__limit {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 101.625em;
    min-width: 62.5em;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: 5.625em 0em;
  }
  .section2 .section2__card1 {
    display: flex;
    width: 70.25em;
    flex-direction: row-reverse;
    background-color: #fff;
  }
  .section2 .section2__card1__containerImg1 {
    width: 60%;
    margin-right: 0;
  }
  .section2 .section2__card1__containerImg1__rectangleMobile {
    display: none;
  }
  .section2 .section2__card1__containerImg1__rectanglePc {
    display: block;
    position: absolute;
    width: 35%;
    top: 3em;
    left: 20em;
  }
  .section2 .section2__card1__containerImg1__pc {
    flex: 1;
    position: absolute;
    width: 60%;
    top: 7em;
    left: 8em;
  }
  .section2 .section2__card1__containerText {
    width: 45%;
    padding: 5.5em 2em 3em;
  }
  .section2 .section2__card1__containerText__title {
    font-size: 2.25rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
  }
  .section2 .section2__card1__containerText__text {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin: 2em 0 3.1em;
    font-size: 1rem;
    font-weight: 500;
  }
  .section2 .section2__card1__containerText__linePink {
    background-color: #eb476e;
    height: 0.25em;
    width: 70%;
    margin: 0em 0em 2.5em;
  }
  .section2 .section2__card2 {
    display: flex;
    width: 70.25em;
    flex-direction: row;
    background-color: #fff;
  }
  .section2 .section2__card2__containerImg2 {
    margin-left: 0;
    width: 27.5em;
  }
  .section2 .section2__card2__containerImg2__circleBlue {
    display: block;
    position: absolute;
    width: 19rem;
    left: 4em;
    top: 0.625em;
  }
  .section2 .section2__card2__containerImg2__mobile {
    position: absolute;
    width: 26.7rem;
    top: 1.6em;
    left: 4.4em;
  }
  .section2 .section2__card2__containerText {
    justify-content: center;
    width: 41%;
    padding: 4.5em 1em 3.5em 0;
  }
  .section2 .section2__card2__containerText__title {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: left;
  }
  .section2 .section2__card2__containerText__text {
    margin: 2.5em 0;
    padding: 0;
    font-size: 1rem;
  }
  .section2 .section2__card2__containerText__lineBlue {
    background-color: #08a6e4;
    height: 0.25em;
    width: 70%;
    margin: 2em 0em 0em;
  }
  .section2 .section2__card3 {
    display: flex;
    width: 70.25em;
    flex-direction: row;
    background-color: transparent;
    border: none;
  }
  .section2 .section2__card3__containerText {
    width: 55%;
    padding: 4.4em 2em 0;
  }
  .section2 .section2__card3__containerText__title {
    margin: 0em;
    width: 70%;
    text-align: left;
    font-size: 2.25rem;
    font-weight: 400;
  }
  .section2 .section2__card3__containerText__text {
    width: 75%;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin: 2em 0 3em;
  }
  .section2 .section2__card3__containerText__lineGreen {
    background-color: #55dfb4;
    height: 0.25em;
    width: 60%;
    margin: 0em 0em 0em;
  }
  .section2 .section2__card3__containerImg {
    width: 27.5em;
    height: 23.125em;
    margin-left: 3.75em;
    position: relative;
  }
  .section2 .section2__card3__containerImg__backgroundGreen {
    display: absolute;
    padding: 0em;
    top: 0em;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .section2 .section2__card3__containerImg__megaphone {
    position: absolute;
    left: 10%;
    top: 6.25em;
    z-index: 2;
  }
}
.section3 {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0 0em;
}
.section3 h3 {
  margin: 1.4em 0 1em;
  display: block;
  font-size: 2.25rem;
  font-weight: 400;
}
.section3 button {
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  border-radius: 2.5rem;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  border-radius: 1.7em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
}
.section3__card3 {
  border-radius: 1.125em;
  margin: 1em auto 3.2em;
  padding: 1.5em 0em 1.7em;
  position: relative;
  width: 80%;
  box-sizing: border-box;
}
.section3__card3 button {
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  border-radius: 2.5rem;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 17.5em;
  right: 5.9em;
  padding: 1em 4em;
}
.section3__card3:nth-of-type(1) {
  border: 0.0625em solid #eb476e;
}
.section3__card3:nth-of-type(1) button {
  background-color: #eb476e;
}
.section3__card3:nth-of-type(1) .section3__card3__containerPrice__price {
  color: #eb476e;
}
.section3__card3:nth-of-type(1):nth-of-type(1):hover {
  box-shadow: 0.125em 0.5625em 3.125em -1.5625em #eb476e;
  width: 85%;
  padding: 2.7em 0 2.7em;
}
.section3__card3:nth-of-type(1):nth-of-type(1):hover .section3__card3__containerPrice {
  transform: translate(0, -20%);
}
.section3__card3:nth-of-type(1):nth-of-type(1):hover button {
  top: 20em;
  right: 6.8em;
  box-shadow: 0.125em 0.5625em 1.5625em -0.625em #eb476e;
}
.section3__card3:nth-of-type(2) {
  border: 0.0625em solid #08a6e4;
}
.section3__card3:nth-of-type(2) button {
  background-color: #08a6e4;
}
.section3__card3:nth-of-type(2) .section3__card3__containerPrice__price {
  color: #08a6e4;
}
.section3__card3:nth-of-type(2):nth-of-type(2):hover {
  box-shadow: 0.125em 0.5625em 3.125em -1.5625em #08a6e4;
  width: 85%;
  padding: 2.7em 0 2.7em;
}
.section3__card3:nth-of-type(2):nth-of-type(2):hover .section3__card3__containerPrice {
  transform: translate(0, -43%);
}
.section3__card3:nth-of-type(2):nth-of-type(2):hover button {
  top: 20em;
  right: 6.8em;
  box-shadow: 0.125em 0.5625em 1.5625em -0.625em #08a6e4;
}
.section3__card3:nth-of-type(3) {
  border: 0.0625em solid #55dfb4;
}
.section3__card3:nth-of-type(3) button {
  background-color: #55dfb4;
}
.section3__card3:nth-of-type(3) .section3__card3__containerPrice__price {
  color: #55dfb4;
}
.section3__card3:nth-of-type(3):nth-of-type(3):hover {
  box-shadow: 0.125em 0.5625em 3.125em -1.5625em #55dfb4;
  width: 85%;
  padding: 2.7em 0 2.7em;
}
.section3__card3:nth-of-type(3):nth-of-type(3):hover .section3__card3__containerPrice {
  transform: translate(0, -43%);
}
.section3__card3:nth-of-type(3):nth-of-type(3):hover button {
  top: 20em;
  right: 6.8em;
  box-shadow: 0.125em 0.5625em 1.5625em -0.625em #55dfb4;
}
.section3__card3__containerPrice {
  text-align: center;
  display: inline-block;
  width: 45%;
  transform: translate(0, -40%);
}
.section3__card3__containerPrice__basic {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0 auto;
}
.section3__card3__containerPrice__price {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0 auto;
}
.section3__card3__containerPrice__subtitle {
  text-align: center;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #13253b;
}
.section3__card3__containerFeature {
  display: inline-block;
  width: 49%;
  list-style: none;
  text-align: left;
}
.section3__card3__containerFeature li {
  font-size: 0.875rem;
  text-align: left;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  padding: 0em 0em 1.5em 0em;
}
.section3__card3__containerFeature li img {
  margin: 0 0.3em 0 0.2em;
}
.section3__currencySelector {
  display: block;
}
.section3__currencySelector label {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}
.section3__currencySelector__buttonContainer {
  display: block;
}
.section3__currencySelector__buttonContainer__buttonSelector {
  position: none;
  padding: 0.5em 1em;
  margin: 1em 1em;
  background-color: #08a6e4;
}

@media (min-width: 62.5rem) {
  .section3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .section3 h3 {
    margin: 0;
    padding: 3em 0 1em;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
  }
  .section3 .limit3 {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 101.625em;
    min-width: 62.5em;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 3em 0em;
  }
  .section3 .section3__card3 {
    margin: 0 2.15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23.5em;
    padding: 4em 0 4em;
  }
  .section3 .section3__card3 button {
    padding: 1em 5em;
    display: block;
    clear: absolute;
    transform: translate(-30%, 475%);
    transform: translate(-18%, 465%);
  }
  .section3 .section3__card3__containerPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0em 0em;
  }
  .section3 .section3__card3__containerPrice__basic {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 0.75em;
  }
  .section3 .section3__card3__containerPrice__price {
    width: 59;
    padding-top: 0em;
    font-family: "Open Sans", sans-serif;
    font-size: 2.875rem;
    font-weight: 300;
    margin: 0 auto;
  }
  .section3 .section3__card3__containerPrice__subtitle {
    width: 8em;
    margin: 0 auto;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    color: #13253b;
  }
  .section3 .section3__card3__containerFeature {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0em;
    text-align: center;
    margin: 0 auto;
  }
  .section3 .section3__card3__containerFeature li {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .section3 .section3__card3__containerFeature li img {
    margin: 0.5em;
  }
  .section3 .section3__card3:nth-of-type(1):nth-of-type(1):hover {
    width: 25em;
    transform: scale(104%, 115%);
    margin: 0 1.4em;
  }
  .section3 .section3__card3:nth-of-type(1):nth-of-type(1):hover .section3__card3__containerPrice {
    transform: translate(0, -30%);
  }
  .section3 .section3__card3:nth-of-type(1):nth-of-type(1):hover button {
    top: 14em;
    right: 6.5em;
  }
  .section3 .section3__card3:nth-of-type(2):nth-of-type(2):hover {
    width: 25em;
    transform: scale(104%, 115%);
    margin: 0 1.4em;
  }
  .section3 .section3__card3:nth-of-type(2):nth-of-type(2):hover .section3__card3__containerPrice {
    transform: translate(0, -30%);
  }
  .section3 .section3__card3:nth-of-type(2):nth-of-type(2):hover button {
    top: 14em;
    right: 6.5em;
  }
  .section3 .section3__card3:nth-of-type(3):nth-of-type(3):hover {
    width: 25em;
    transform: scale(104%, 115%);
    margin: 0 1.4em;
  }
  .section3 .section3__card3:nth-of-type(3):nth-of-type(3):hover .section3__card3__containerPrice {
    transform: translate(0, -30%);
  }
  .section3 .section3__card3:nth-of-type(3):nth-of-type(3):hover button {
    top: 14em;
    right: 6.5em;
  }
}
.section4 {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-top: 1.3em;
  padding: 0em 1.8em;
}
.section4 p,
.section4 a,
.section4 label {
  font-family: "Open Sans", sans-serif;
}
.section4__header {
  margin: 0 auto;
}
.section4__header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: start;
}
.section4__header__subtitle {
  font-size: 1rem;
  font-weight: 400;
  font-weight: 500;
}
.section4__header__contact {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 2.1875em auto 1.25em;
}
.section4__header__contact__pack {
  display: inline;
  width: 100%;
}
.section4__header__contact__pack__icon {
  display: inline;
  width: 1.25em;
  margin: 0.5em 0.2em 0;
  padding: 0;
}
.section4__header__contact__pack__text {
  margin: 0em 0.2em;
  display: inline;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #a5a5a5;
}
.section4__form {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.5em 0;
}
.section4__form__pack__text {
  width: 100%;
  color: #08a6e4;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.205em;
}
.section4__form__pack__input {
  margin: 1.875em 0em 2.1875em;
  display: block;
  width: 24.5em;
  border: none;
  border-color: transparent;
  border-bottom: 0.125em solid #95989a;
  outline: none;
}
.section4__form__pack .invalid {
  border-bottom: 0.0625em solid red;
}
.section4__form__pack input:focus.invalid {
  outline: none;
}
.section4__form .error {
  display: none;
  width: 20em;
  font-size: 0.9em;
  color: white;
  background-color: tomato;
  margin-bottom: 0.5em;
  border-radius: 0.3125em 0.3125em;
  box-sizing: border-box;
}
.section4__form .active {
  display: block;
}
.section4__form__terms {
  width: 100%;
  display: inline-block;
  position: relative;
  direction: ltr;
}
.section4__form__terms__checkbox {
  appearance: none;
  border: 0.0625em solid #95989a;
  border-radius: 0.1875em;
  padding: 0.75rem;
  position: relative;
}
.section4__form__terms__checkbox:checked {
  background: no-repeat;
  background-image: url("../images/check.png");
  background-size: 1rem;
  background-position: center;
}
.section4__form__terms .invalidCheckbox {
  border: 0.0625em solid red;
}
.section4__form__terms__text {
  width: 90%;
  font-size: 0.79rem;
  font-weight: 400;
  position: absolute;
  left: 3em;
  top: -0.3em;
  color: #707070;
}
.section4__form__terms button {
  font-family: "Open Sans", sans-serif;
  border-color: transparent;
  border-radius: 2.5rem;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 14.5em;
  left: 7.3125em;
  padding: 1.4em 7.5em;
  background-color: #08a6e4;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  box-shadow: 0.125em 0.5625em 1.5625em -0.625em #08a6e4;
}

@media (min-width: 62.5rem) {
  .section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section4__header {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 0em;
    padding: 5em 0em 8.5em 0em;
  }
  .section4__header h1 {
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    padding: 0em 0em 0.5em;
  }
  .section4__header__contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -0.9em;
  }
  .section4__header__contact__pack {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0.25em;
  }
  .section4__header__contact__pack__icon {
    margin: 0.25em 0.5em;
  }
  .section4__header__contact__pack__text {
    margin-top: 0.25em;
  }
  .section4__header__contact__pack__text {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    width: 90%;
  }
  .section4__form {
    display: inline-block;
    width: 31%;
    padding: 0em 0 3.8em 0em;
    margin: 0;
  }
  .section4__form__pack input {
    width: 96%;
  }
  .section4__form__terms {
    margin: 0 0.6em;
    width: 97.5%;
  }
  .section4__form__terms__checkbox {
    margin: 0 0 0 -0.8em;
  }
  .section4__form button {
    top: 10.5em;
    left: 16.75em;
  }
}
footer {
  width: 100%;
  box-shadow: 0em -0.3125em 2.5em 0.3125em rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 15.625em 0em 0;
  padding: 1rem 0;
}
footer .pack {
  display: block;
  margin-left: 1.0625em;
}
footer .pack__logoFooter {
  color: #08a6e4;
  font-size: 1.625rem;
  font-weight: 300;
  text-align: left;
}
footer .pack__copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 0.6875rem;
  font-weight: 400;
  text-align: left;
  color: #a5a5a5;
}
footer .packLogos {
  position: absolute;
  top: 1.875em;
  left: 15.125em;
  display: inline-block;
}
footer .packLogos__x {
  margin-left: -1.25em;
  padding: 0 0.9375em;
}
footer .packLogos__facebook {
  padding-right: 1.25em;
}
footer .packLogos__linkedin {
  width: 1.5em;
}

@media (min-width: 1000px) {
  footer {
    width: 100%;
    margin-top: 3.75em;
  }
  footer .limit {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 101.625em;
    min-width: 62.5em;
    box-sizing: border-box;
    width: 101.625rem;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .limit .pack {
    display: flex;
    flex-direction: column;
    margin-left: 5.3125em;
    width: 40%;
  }
  footer .limit .pack__logoFooter {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.3125em;
    color: #08a6e4;
    text-align: left;
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 1.875em;
    text-align: left;
  }
  footer .limit .pack__copyright {
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 0.9363em;
    text-align: left;
  }
  footer .limit .packLogos {
    display: absolute;
    top: 0;
    left: -20.8em;
    position: relative;
    width: 4.6875em;
    width: 7em;
    justify-content: space-around;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  text-align: center;
}
body h1,
body h2,
body h3 {
  font-family: "Raleway", sans-serif;
  text-align: center;
}
body main {
  display: block;
}

@media (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}